<div class="modal {{modalOptions.cssClass}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Log attack for {{modalOptions.formData.ign}}
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        <p>Select a base and the number of stars to log an attack for {{modalOptions.formData.ign}}.</p>
                        <p ng-if="modalOptions.formData.hasBase"><b>Note</b>: player is currently assigned a base. If you change the base here to something else and log an attack the existing assignment on base <b>{{modalOptions.formData.base}}</b> will be removed.</p>
                    </div>
                </div>
                <form class="form-horizontal" name="attackForm">
                    <div class="form-group">
                        <label for="base" class="col-xs-3 control-label">Base</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="modalOptions.formData.base" ng-options="base as base for base in modalOptions.formData.bases" integer required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="base" class="col-xs-3 control-label">Stars</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="modalOptions.formData.stars" integer required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button class="btn btn-emphasis btn-sm" ng-disabled="attackForm.$invalid" ng-click="modalOptions.onYes(modalOptions.formData); $hide();">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
