<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{modalOptions.title}}
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        <p>Use this form to add a user to clash.tools who has not currently signed up. This feature is for emergency situations when you need to add a member to your roster who hasn't taken the time to create an account and join your clan.</p>
                        <p>Their account will not be complete, however, until the leader of the clan sets a correct email address for them to enable them to log in and set attacks
                    </div>
                </div>
                <form class="form-horizontal" name="userForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control req-field" ng-model="modalOptions.formData.name" placeholder="John Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email Address</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control req-field" ng-model="modalOptions.formData.email_address" placeholder="someone@somewhere.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-3 control-label">Role</label>
                        <div class="col-sm-3">
                            <select class="form-control col-sm-3" ng-model="modalOptions.formData.role" >
                                <option>Admin</option>
                                <option selected>User</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 error-red text-center">
                        <strong>{{modalOptions.formData.error}}</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button track="Add user dialog - submit" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid" ng-click="modalOptions.onYes(modalOptions.formData);">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
