<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Siftrock</strong> - Configure Marketo
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        In order to integrate with Marketo, Siftrock needs the following information from your account. This configuration is for authentication only - nothing will happen to your account until you set up a workflow.
                    </div>
                </div>
                <form class="form-horizontal" name="configForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Endpoint Url</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control req-field" ng-model="modalOptions.formData.endpoint" placeholder="https://xxx-xxx-xxx.mktorest.com/rest" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Identity Url</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control req-field" ng-model="modalOptions.formData.identity" placeholder="https://xxx-xxx-xxx.mktorest.com/identity" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Client Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control req-field" ng-model="modalOptions.formData.clientId" placeholder="aaaaaaaa-1111-2222-bbbb-cccccccccc" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Client Secret</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control req-field" ng-model="modalOptions.formData.clientSecret" placeholder="00000000000000000000000000" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 error-red text-center">
                        <strong>{{modalOptions.formData.error}}</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button track="Add user dialog - submit" class="btn btn-primary btn-sm" ng-disabled="configForm.$invalid" ng-click="modalOptions.onYes(modalOptions.formData);">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
