<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Siftrock</strong> - {{modalOptions.title}}
            </div>
            <div class="modal-body" ng-bind="modalOptions.message"></div>
            <div class="modal-footer">
                <button class="btn btn-tertiary" ng-click="modalOptions.onYes(modalOptions.model); $hide();">{{modalOptions.yesBtn}}</button>
                <button class="btn btn-default" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
