<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Siftrock</strong> - Add email address to all reply forward list
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        Email addresses on this list will get a forwarded copy of every email processed by Siftrock.
                    </div>
                </div>
                <form class="form-horizontal" name="domainForm">
                    <div class="form-group">
                        <label for="categoryName" class="col-sm-3 control-label">Email Address</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control req-field" ng-model="modalOptions.formData.email_address" placeholder="someone@somewhere.com" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button track="Add all email forward dialog - submit" class="btn btn-primary btn-sm" ng-disabled="domainForm.$invalid" ng-click="$hide(); modalOptions.onYes(modalOptions.formData);">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
