<div class="modal {{modalOptions.cssClass}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Set hero to upgrading
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        Enter the number of days and hours until your hero upgrade is finished. If your hero is already done set days and hours to zero.
                    </div>
                </div>
                <form class="form-horizontal" name="heroUpgradeForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 col-xs-12 control-label">Finishes in</label>
                        <div class="col-sm-2 col-xs-6">
                            <input type="number" class="form-control req-field" ng-model="modalOptions.formData.finishedDays" min="0" max="7" required integer>
                        </div>
                        <div class="col-sm-1 col-xs-6 time-label-dialog">day(s)</div>

                        <div class="col-sm-2 col-xs-6">
                            <input type="number" class="form-control req-field" ng-model="modalOptions.formData.finishedHours" min="0" max="23" required integer>
                        </div>
                        <div class="col-sm-3 col-xs-6 time-label-dialog">hour(s)</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button class="btn btn-emphasis btn-sm" ng-disabled="heroUpgradeForm.$invalid" ng-click="modalOptions.onYes(modalOptions.formData); $hide();">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
