<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div class="sidebar-nav-header">
            <div class="snh-picture"><img src="/img/player-temp.png"></div>
            <div class="snh-player">
                {{ign}}<br/>
                <span class="snh-clan" ng-if="clanName.length>0">{{clanName}}</span>
                <a href class="snh-clan" ng-if="clanName.length==0">Join a clan</a>
            </div>
        </div>
        <li class="header" ng-if="clanName.length>0">
            Clan
        </li>
        <li ng-if="clanName.length>0">
            <a href="/members">Members</a>
        </li>
        <li ng-if="clanName.length>0">
            <a href="#">Wars</a>
        </li>
        <li ng-if="clanName.length>0">
            <a href="/clan/{{clanId}}">Settings</a>
        </li>
        <li class="header">
            You
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="#">History</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
