<div class="popover signup-or-login">
    <div class="popover-title">
        {{title}}
        <span class="pull-right text-right">
            <i class="icon-cancel action-icon icon-medium icon-complement" title="Close" ng-click="$hide()"></i>
        </span>
    </div>
    <div class="popover-content">
        <div class="row margin-bottom-medium">
            <div class="col-xs-15">
                {{content}}
            </div>
        </div>
        <div class="row margin-bottom-small">
            <div class="col-xs-12 text-right">
                <a href="/login" track="Signup/Login popup Login CTA" class="btn btn-tertiary btn-xs" ng-click="$hide()">Log in</a>
                <a href="/register" track="Signup/Login popup Signup CTA" class="btn btn-tertiary btn-xs" ng-click="$hide()">Create Account</a>
            </div>
        </div>
    </div>
</div>