            <div class="row">
                <div class="col-xs-12 top-nav-container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="/home"><img class="logo" src="/img/logo-small.png"></a> <span class="small primary-40"><b>beta</b></span>
                            <div global-message></div>
                        </div>
                        <div class="col-md-4 hidden-sm hidden-xs search-box">
                            <div class="form-control-group">
                                <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="searchTerms" press-enter="search()">
                                <button class="btn btn-search" ng-click="search()"><i class="icon-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-right icon-notification">
                            <a href="/mail"><i class="icon-mail"></i></a><span class="count-indicator alternate-bg">{{newMailCount}}</span>
                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <p class="dropdown-header">Quick Links</p>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/mail">Mail</a></li>
                                    <li><a href="/help/faq">Help</a></li>
                                    <p class="dropdown-header">You</p>
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/results">Results</a></li>
                                    <p class="dropdown-header" ng-if="clanName.length>0">Clan</p>
                                    <li ng-if="clanName.length>0"><a href="/members">Members</a></li>
                                    <li ng-if="clanName.length>0" access-level="coleader"><a href="/roster">Roster</a></li>
                                    <li class="margin-bottom-medium" ng-if="clanName.length>0"><a href="/clan/{{clanId}}">Settings</a></li>
                                    <p class="dropdown-header" ng-if="clanName.length>0">Wars</p>
                                    <li ng-if="clanName.length>0"><a href="/war">War History</a></li>
                                    <li class="divider"></li>
                                    <li access-level="sadmin"><a href="/admin">Admin</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="isSpoofing" class="spoof-warning">
                S P O O F I N G
            </div>
