            <div class="row">
                <div class="col-sm-12 top-nav-container">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="/home"><img class="logo" src="/img/logo-small.png"></a>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2 search-box">
                            <div class="form-control-group">
                                <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="searchTerms" press-enter="search()" ng-change="mightSearch()">
                                <button class="btn btn-search" ng-click="search()"><i class="icon-search"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right icon-notification">
                            <i class="icon-chat"></i><span class="count-indicator vis-2-bg">42</span>
                            <a href="/mail"><i class="icon-mail"></i></a><span class="count-indicator vis-2-bg">8</span>


                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <p class="dropdown-header" ng-if="clanName.length>0">Clan</p>
                                    <li ng-if="clanName.length>0"><a href="/home">Members</a></li>
                                    <li ng-if="clanName.length>0"><a href="/stream">Wars</a></li>
                                    <li class="margin-bottom-medium" ng-if="clanName.length>0"><a href="/clan/{{clanId}}">Settings</a></li>
                                    <p class="dropdown-header">You</p>
                                    <li><a href="/stream">Profile</a></li>
                                    <li><a href="/settings">History</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
