<div class="modal {{modalOptions.cssClass}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Set war start
            </div>
            <div class="modal-body">
                <div class="row margin-bottom-big">
                    <div class="col-sm-12">
                        Check the war and enter the number of hours and minutes until the start. This will be used for call reservations.
                    </div>
                </div>
                <form class="form-horizontal" name="warStartForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 col-xs-12 control-label">Starts in</label>
                        <div class="col-sm-3 col-xs-6">
                            <input type="number" class="form-control req-field" ng-model="modalOptions.formData.startsHours" min="0" max="23" required integer>
                        </div>
                        <div class="col-sm-1 col-xs-6 time-label-dialog">hour(s)</div>

                        <div class="col-sm-3 col-xs-6">
                            <input type="number" class="form-control req-field" ng-model="modalOptions.formData.startsMinutes" min="0" max="59" required integer>
                        </div>
                        <div class="col-sm-3 col-xs-6 time-label-dialog">minute(s)</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button class="btn btn-emphasis btn-sm" ng-disabled="warStartForm.$invalid" ng-click="modalOptions.onYes(modalOptions.formData); $hide();">{{modalOptions.yesBtn}}</button>
            <button class="btn btn-default btn-sm" ng-click="$hide();">{{modalOptions.noBtn}}</button>
            </div>
        </div>
    </div>
</div>
