<div top-nav></div>

<div class="body-container">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <!-- begin main page content -->
                <div class="row bottom-border-light margin-bottom-huge">
                    <div class="col-sm-12">
                        <ul class="tab-nav">
                            <li ng-class="{active: activeTab=='profile'}"><a href="" track="Settings - profile tab" ng-click="changeTab('profile')">My Profile</a></li>
                            <li ng-class="{active: activeTab=='account'}"><a href="" track="Settings - account tab" ng-click="changeTab('account')">Account settings</a></li>
                            <li access-level="admin" ng-class="{active: activeTab=='users'}"><a href="" track="Settings - users tab" ng-click="changeTab('users')">Users</a></li>
                            <li access-level="admin"><a href="/settings/integration">Integration</a></li>
                        </ul>
                    </div>
                </div>

                <!-- profile view -->
                <div class="row" ng-show="activeTab=='profile'">
                    <div class="col-sm-12">
                        <div class="panel panel-emphasis" ng-show="verifyMessage">
                            <div class="panel-heading">
                                <h4 class="white">Your email address isn't verified</h4>

                            </div>
                            <div class="panel-body"><h5 class="margin-bottom-big">
                                You should have received a verification email when you registered with siftrock.com. You will also receive one if you've changed your email address. If you did not receive one, please use the button below to have another sent.<br>
                                <button class="btn btn-primary margin-top-big" ng-click="sendVerifyEmail()">Send verify email</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form name="basicForm" ng-submit="saveUser()">
                        <div class="widget">
                            <div class="widget-header">Basic Information</div>
                            <div class="widget-body">
                                <div class="form-group">
                                    <label for="name" class="control-label">First and Last Name</label>
                                    <input type="text" ng-model="user.name" class="form-control req-field" required ng-minlength="1">
                                </div>
                                <div class="form-group">
                                    <label for="nickname" class="control-label">Nickname</label>
                                    <input type="text" ng-model="user.nickname" class="form-control req-field" required ng-minlength="1" bs-tooltip title="This will be used to identify you to teammates" data-trigger="hover" data-placement="right" data-container="body">
                                </div>
                                <div class="form-group">
                                    <label for="emailAddress" class="control-label">Email Address</label>
                                    <input type="email" ng-model="user.email_address" class="form-control req-field" required ng-minlength="1">
                                </div>
                                <div class="form-group">
                                    <button track="Account settings - save" type="submit" ng-disabled="accountNameForm.$invalid" class="btn btn-primary btn-sm pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form name="passwordForm" ng-submit="savePassword()">
                        <div class="widget">
                            <div class="widget-header">Change Password</div>
                            <div class="widget-body">
                                <div class="form-group">
                                    <label for="pw1" class="control-label">New Password (minimum 4 characters)</label>
                                    <input type="password" name="pw1" ng-model="pw1" class="form-control req-field" required ng-minlength="4">
                                </div>
                                <div class="form-group">
                                    <label for="pw2" class="control-label">New Password (again)</label>
                                    <input type="password" name="pw2" ng-model="pw2" class="form-control req-field" required ng-minlength="4" field-match="pw1">
                                </div>
                                <div class="form-group" ng-show="passwordForm.pw2.$error.match">
                                    <strong class="error-red">Passwords don't match</strong>
                                </div>
                                <div class="form-group">
                                    <button track="Account settings - save" type="submit" ng-disabled="accountNameForm.$invalid" class="btn btn-primary btn-sm pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>

                </div>

                <!-- account view -->
                <div class="row" ng-show="activeTab=='account'">
                    <div class="col-sm-6">
                        <form name="accountNameForm" ng-submit="saveAccount()">
                        <div class="widget margin-bottom-huge">
                            <div class="widget-header">Account Information</div>
                            <div class="widget-body">
                                <div class="form-group">
                                    <label for="accountName" class="control-label">Account Name</label>
                                    <input type="text" ng-model="account.name" class="form-control req-field" required ng-minlength="1">
                                </div>
                                <div class="form-group">
                                    <button track="Account settings - save" type="submit" ng-disabled="accountNameForm.$invalid" class="btn btn-primary btn-sm pull-right">Save</button>
                                </div>
                            </div>
                        </div>
                        </form>

                        <div class="widget margin-bottom-huge">
                            <div class="widget-header">Reply-To Domain</div>
                            <div class="widget-body">
                                <div class="row margin-bottom-big">
                                    <div class="col-sm-12">
                                        <div class="reply-to-address" ng-show="account.reply_domain.length>0">
                                        {{account.reply_domain}}
                                        </div>
                                        <div class="reply-to-address" ng-show="account.reply_domain.length==0">
                                        [not configured]
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-big">
                                    <div class="col-sm-12">
                                        When you create email campaigns, the reply-to address should be from this domain. Please read the <a class="external-link" href="http://www.siftrock.com/getting-started/" target="_new">getting started guide</a> to ensure you've set this up correctly. Whenever you change this setting the system will automatically test the new value.
                                    </div>
                                </div>
                                <!-- Reply-to address configuration and views -->
                                <div class="row margin-bottom-huge" ng-show="account.mx_verified && mxTestingStatus==0">
                                    <div class="col-sm-12 verified">
                                        Your reply-to domain has been tested <a href class="btn btn-xs btn-default test-button pull-right" track="Account settings - test mx again valid" ng-click="testMx()">Test Again</a>
                                    </div>
                                </div>
                                <div class="row margin-bottom-big" ng-show="!account.mx_verified && mxTestingStatus==0">
                                    <div class="col-sm-12">
                                        <div class="reply-to-unverified">
                                        Your reply-to domain has not been tested. <a href class="btn btn-xs btn-default test-button pull-right" track="Account settings - test mx" ng-click="testMx()">Test Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-big" ng-show="mxTestingStatus==1">
                                    <div class="col-sm-12 testing-wait">
                                        <i class="icon-spinner2 animate-spin"></i> Testing your reply-to domain
                                    </div>
                                </div>
                                <div class="row margin-bottom-huge" ng-show="mxTestingStatus==2">
                                    <div class="col-sm-12">
                                        <div class="reply-to-unverified">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <strong>Test failed for your reply-to domain:</strong> <br/>
                                                    {{mxInvalidMessage}}
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href class="btn btn-xs btn-default test-button pull-right" track="Account settings - test mx again invalid" ng-click="testMx()">Test Again</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{mxInvalidHelp}}" target='_new' class="external-link"><i class="icon-help-circled"></i>Help me with this problem</a>
                                    </div>
                                </div>
                                <div class="row margin-bottom-big" ng-show="mxTestingStatus==3">
                                    <div class="col-sm-12 verified">
                                        Test was successful, your reply-to domain is now verified.
                                    </div>
                                </div>
                                <div class="row margin-bottom-big" ng-show="mxTestingStatus==99">
                                    <div class="col-sm-12">
                                        <div class="reply-to-unverified">
                                        You have not configured a reply-to domain
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button track="Account settings - save" type="submit" ng-disabled="mxTestingStatus==1" class="btn btn-primary btn-sm pull-right" ng-click="changeReplyTo()">Change</button>
                                </div>
                                <!-- end reply-to address configuration and views -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="widget margin-bottom-huge">
                            <div class="widget-header">
                                Ignored Domains
                            </div>
                            <div class="widget-body">
                                <div class="row detail-row" ng-repeat="domain in account.ignore_domains">
                                    <div class="col-sm-9">{{domain}}</div>
                                    <div class="col-sm-3">
                                        <a href ng-click="removeDomain(domain)" class="pull-right" title="Remove domain {{domain}}"><i class="icon-trash"></i></a>
                                    </div>
                                </div>
                                <div class="row margin-top-big">
                                    <div class="col-sm-12">
                                        <button track="Account settings - add ignore domain" type="submit" class="btn btn-primary btn-sm pull-right" ng-click="addDomain()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget margin-bottom-huge">
                            <div class="widget-header">Email Forwarding - Human Replies</div>
                            <div class="widget-body">
                                <div class="row detail-row" ng-repeat="address in account.forwards.human">
                                    <div class="col-sm-9">{{address}}</div>
                                    <div class="col-sm-3">
                                        <a href ng-click="removeHuman(address)" class="pull-right" title="Remove address {{address}}"><i class="icon-trash"></i></a>
                                    </div>
                                </div>
                                <div class="row detail-row" ng-show="account.forwards.human.length==0">
                                    <div class="col-sm-12">
                                        <em>None</em>
                                    </div>
                                </div>
                                <div class="row margin-top-big">
                                    <div class="col-sm-12">
                                        <a href class="btn btn-primary btn-sm pull-right" ng-click="addHuman()">Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--
                        REMOVED 12/30/14
                        <div class="widget margin-bottom-huge">
                            <div class="widget-header">Email Forwarding - All Replies</div>
                            <div class="widget-body">
                                <div class="row detail-row" ng-repeat="address in account.forwards.all">
                                    <div class="col-sm-9">{{address}}</div>
                                    <div class="col-sm-3">
                                        <a href ng-click="removeAll(address)" class="pull-right" title="Remove address {{address}}"><i class="icon-trash"></i></a>
                                    </div>
                                </div>
                                <div class="row detail-row" ng-show="account.forwards.all.length==0">
                                    <div class="col-sm-12">
                                        <em>None</em>
                                    </div>
                                </div>
                                <div class="row margin-top-big">
                                    <div class="col-sm-12">
                                        <a href class="btn btn-primary btn-sm pull-right" ng-click="addAll()">Add</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

                <!-- users view -->
                <div class="row margin-bottom-big" ng-show="activeTab=='users'">
                    <div class="col-sm-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="row stream-header">
                                    <div class="col-sm-2">
                                        Name
                                    </div>
                                    <div class="col-sm-3">
                                        Email
                                    </div>
                                    <div class="col-sm-1">
                                        Role
                                    </div>
                                    <div class="col-sm-1">
                                        Verified
                                    </div>
                                    <div class="col-sm-2">
                                        Created
                                    </div>
                                    <div class="col-sm-2">
                                        Last Login
                                    </div>
                                </div>
                                <div class="row row-underline-1"></div>
                                <div ng-repeat="user in users">
                                    <div class="row stream-item">
                                        <div class="col-sm-2">
                                            {{user.name}}
                                        </div>
                                        <div class="col-sm-3">
                                            {{user.email_address}}
                                        </div>
                                        <div class="col-sm-1">
                                            {{user.role.title}}
                                        </div>
                                        <div class="col-sm-1">
                                            {{user.verified}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{user.created_at | date:'MM-dd-yy HH:mm'}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{user.last_login | date:'MM-dd-yy HH:mm'}}
                                        </div>
                                        <div class="col-sm-1 text-center">
<!--                                             <a href ng-click="hideEmail(user._id)" title="Re-send invite"><i class="icon-mail"></i></a> -->
                                            <a href ng-click="disableUser(user._id, user.name, user.email_address)" title="Disable User"><i class="icon-cancel error-red"></i></a>
                                        </div>
                                    </div>
                                    <div class="row row-underline-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="activeTab=='users'">
                    <div class="col-sm-12">
                        <a class="btn btn-sm btn-primary-light" ng-click="addUser()">Add User</a>
                    </div>
                </div>
                <!-- end users view -->

                <!-- end main page content -->
            </div>

    </div>
</div>
</div>

<div footer></div>
