<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body members-container margin-bottom-huge">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-8">
                            <h1>Arranged Wars</h1>
                            <h3 class="same-line-sub-heading alternate">{{meta.current_clan.name}}</h3>
                        </div>
                        <div class="col-xs-4 text-right">
                            <a href="/arranged/new" class="btn btn-emphasis">Create New</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row t-row">
                                        <div class="col-sm-3 col-xs-5 t-header">Opponent</div>
                                        <div class="col-sm-2 hidden-xs t-header">Clan Tag</div>
                                        <div class="col-sm-2 col-xs-4 t-header text-center">War size</div>
                                        <div class="col-sm-3 hidden-xs t-header">Created</div>
                                        <div class="col-sm-2 col-xs-3 t-header text-center">Delete</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                        <div ng-repeat="war in wars">
                                            <div class="row t-row">
                                                <div class="col-sm-3 col-xs-5"><a href="/arranged/{{war._id}}">{{war.opp.clan_name}}</a></div>
                                                <div class="col-sm-2 hidden-xs">{{war.opp.clan_tag}}</div>
                                                <div class="col-sm-2 col-xs-4 text-center">{{war.roster_count}}</div>
                                                <div class="col-sm-3 hidden-xs"><span am-time-ago="{{war.created_at}}"></span></div>
                                                <div class="col-sm-2 col-xs-3 text-center"><i class="icon-cancel icon-large action-icon error-red" access-level="coleader" title="Delete match" ng-click="deleteMatch(war)"></i></div>                    
                                            </div>
                                            <div class="row row-underline-1" ng-if="$index<wars.length-1"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
