<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>


            <div class="row content-body margin-bottom-huge" ng-if="!newWar">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <h2>{{us.clan_name}} vs. {{them.clan_name}}</h2>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-md-6 col-sm-8 col-xs-12">
                            <div class="widget">
                                <div class="widget-header">
                                    Match settings (select a member to add to roster)
                                </div>
                                <div class="widget-body">
                                    <div class="row margin-bottom-medium">
                                        <div class="col-xs-12 form-horizontal">
                                            <div class="form-group">
                                                <label for="playerCount" class="col-md-4 col-sm-5 col-xs-3 control-label">Roster count</label>
                                                <div class="col-md-8 col-sm-7 col-xs-9">
                                                <select class="form-control" ng-model="war.roster_count" ng-change='changeRosterCount()' integer>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 form-horizontal">
                                            <div class="form-group">
                                                <label for="" class="col-md-4 col-sm-5 col-xs-3 control-label">Members</label>
                                                <div class="col-md-8 col-sm-7 col-xs-9">
                                                    <select class="form-control" ng-model="addedPlayer" ng-options="member as member.displayName for member in members" ng-change="addPlayer(addedPlayer)"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-header">
                                    Matchup
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 t-header text-center">#</div>
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 t-header text-center">Player</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                    <div class="row" ng-repeat="player in us.roster">
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 t-row text-center">{{$index + 1}}</div>
                                        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 t-row text-center">{{player.ign}}</div>                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-6">
                        </div>                        
                    </div>
                </div>
            </div> <!-- /page content -->

            <!-- page content - new war -->
            <div class="row content-body margin-bottom-huge" ng-if="newWar">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <h1>Arranged War</h1>
                            <h3 class="same-line-sub-heading alternate">{{meta.current_clan.name}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row clan-search margin-bottom-big">
                                <div class="col-xs-4 search-box">
                                    <div class="form-control-group">
                                        <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="searchTerms" press-enter="search(searchTerms)">
                                        <button class="btn btn-search" ng-click="search(searchTerms)"><i class="icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 t-header">Clan name</div>
                                        <div class="col-sm-2 col-xs-4 t-header">Clan tag</div>
                                        <div class="col-sm-2 hidden-xs t-header">Leader</div>
                                        <div class="col-sm-2 col-xs-2 t-header text-center">Members</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                    <div ng-repeat="c in clans">
                                        <div class="row t-row">
                                            <div class="col-sm-4 col-xs-4">{{c.name}}</div>
                                            <div class="col-sm-2 col-xs-4">{{c.clan_tag}}</div>
                                            <div class="col-sm-2 hidden-xs">{{c.metrics.leader}}</div>
                                            <div class="col-sm-2 col-xs-2 text-center">{{c.metrics.totalMembers}}</div>
                                            <div class="col-sm-2 text-right"><button class="btn btn-emphasis btn-xs" ng-click="startMatch(c)">Start Match</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content - new war -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
