<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>


            <div class="row content-body margin-bottom-huge" ng-if="!newWar">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <h2>{{us.clan_name}} vs. {{them.clan_name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-12 margin-bottom-huge">
                            <div class="widget">
                                <div class="widget-header">
                                    Match settings
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-12 form-horizontal">
                                            <div class="form-group">
                                                <label for="playerCount" class="col-md-4 col-sm-5 col-xs-3 control-label small">Count</label>
                                                <div class="col-md-8 col-sm-7 col-xs-9">
                                                <select class="form-control-small" ng-model="war.roster_count" ng-change='changeRosterCount()' integer>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 form-horizontal">
                                            <div class="form-group">
                                                <label for="" class="col-md-4 col-sm-5 col-xs-3 control-label small">Members</label>
                                                <div class="col-md-8 col-sm-7 col-xs-9">
                                                    <select class="form-control-small" ng-model="addedPlayer" ng-options="member as member.displayName for member in displayMembers" ng-change="addPlayer(addedPlayer)"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 form-horizontal">
                                            <div class="form-group">
                                                <label for="" class="col-md-4 col-sm-5 col-xs-3 control-label small">Auto-fill</label>
                                                <div class="col-md-8 col-sm-7 col-xs-9">
                                                    <a class="btn btn-default btn-xs" ng-click="fillRoster()">Auto-fill Roster</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12 margin-bottom-huge arranged-summary-container">
                            <div class="widget">
                                <div class="widget-header">
                                    Summary
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-4 col-xs-offset-2 text-center"><h4 class="emphasis"><strong>{{us.clan_name}}</strong></h4></div>
                                        <div class="col-xs-4 col-xs-offset-1 text-center"><h4 class="primary-dark"><strong>{{them.clan_name}}</strong></h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1 col-xs-offset-2 text-center">
                                            <strong>TH10</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>TH9</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>TH8</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>Tot</strong>
                                        </div>
                                        <div class="col-xs-1 col-xs-offset-1 text-center">
                                            <strong>TH10</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>TH9</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>TH8</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            <strong>Tot</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <strong>Weight</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th10.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th9.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th8.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 col-xs-offset-1 text-center">
                                            {{totals.them.th10.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.th9.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.th8.totalWeight}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.totalWeight}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <strong>Heroes</strong>
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th10.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th9.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.th8.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.us.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 col-xs-offset-1 text-center">
                                            {{totals.them.th10.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.th9.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.th8.totalHeroes}}
                                        </div>
                                        <div class="col-xs-1 text-center">
                                            {{totals.them.totalHeroes}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <strong>Totals</strong>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <strong ng-class="{'error-red': totals.us.totalWeight < totals.them.totalWeight, 'good-green': totals.us.totalWeight > totals.them.totalWeight}">W (<span ng-if="totals.us.totalWeight - totals.them.totalWeight>0">+</span>{{ (totals.us.totalWeight - totals.them.totalWeight) }})</strong>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <strong ng-class="{'error-red': totals.us.totalHeroes < totals.them.totalHeroes, 'good-green': totals.us.totalHeroes > totals.them.totalHeroes}">H (<span ng-if="totals.us.totalHeroes - totals.them.totalHeroes>0">+</span>{{ totals.us.totalHeroes - totals.them.totalHeroes }})</strong>
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1 text-center">
                                            <strong ng-class="{'error-red': totals.us.totalWeight > totals.them.totalWeight, 'good-green': totals.us.totalWeight < totals.them.totalWeight}">W (<span ng-if="totals.them.totalWeight - totals.us.totalWeight>0">+</span>{{ (totals.them.totalWeight - totals.us.totalWeight) }})</strong>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <strong ng-class="{'error-red': totals.us.totalHeroes > totals.them.totalHeroes, 'good-green': totals.us.totalHeroes < totals.them.totalHeroes}">H (<span ng-if="totals.them.totalHeroes - totals.us.totalHeroes>0">+</span>{{ totals.them.totalHeroes - totals.us.totalHeroes }})</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-header">
                                    Matchup
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="row margin-bottom-big">
                                                <div class="col-xs-12 text-center">
                                                    <h4 class="emphasis"><strong>{{us.clan_name}}</strong></h4>
                                                </div>
                                            </div>
                                            <div class="row arranged-row strong">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">#</div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">Player</div>
                                                <div class="col-xs-1 text-center">TH</div>
                                                <div class="col-xs-1 text-center">W</div>
                                                <div class="col-sm-1 hidden-xs text-center">BK</div>
                                                <div class="col-sm-1 hidden-xs text-center">AQ</div>
                                                <div class="col-xs-1 text-center">H</div>
                                            </div>
                                            <div class="row row-underline-2"></div>
                                            <div class="row arranged-row" ng-repeat="player in us.roster">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">{{$index + 1}}</div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 no-wrap" ng-if="player.ign">
                                                    <i class="icon-cancel action-icon primary-20" access-level="coleader" ng-if="player.ign" title="Remove player" ng-click="removePlayer($index)"></i>
                                                    {{player.ign}}
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6" ng-if="!player.ign"><i>-- empty --</i></div>
                                                <div class="col-xs-1 text-center" style="z-index:50;"><a href="#" editable-select="player.th" e-ng-options="th for th in th" onaftersave="updatePlayerData($index, player)">{{player.th}}</a></div>
                                                <div class="col-xs-1 text-center" style="z-index:40;"><a href="#" ng-class="{'error-red': player.warWeight==0}" editable-select="player.warWeight" e-ng-options="wt for wt in wt" onaftersave="updatePlayerData($index, player)">{{player.warWeight}}</a></div>
                                                <div class="col-sm-1 text-center hidden-xs" style="z-index:30;"><a href="#" editable-select="player.bk" e-ng-options="hl for hl in hl" onaftersave="updatePlayerData($index, player)">{{player.bk}}</a></div>
                                                <div class="col-sm-1 text-center hidden-xs" style="z-index:20;"><a href="#" editable-select="player.aq" e-ng-options="hl for hl in hl" onaftersave="updatePlayerData($index, player)">{{player.aq}}</a></div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': player.bk + player.aq ==0}">{{player.bk + player.aq}}</div>
                                            </div>
                                            <div class="row row-underline-2"></div>
                                            <div class="row arranged-row strong">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 text-right">Totals</div>
                                                <div class="col-xs-1 text-center"></div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': totals.us.totalWeight < totals.them.totalWeight, 'good-green': totals.us.totalWeight > totals.them.totalWeight}">{{totals.us.totalWeight}}</div>
                                                <div class="col-sm-1 hidden-xs text-center" ng-class="{'error-red': totals.us.totalBK < totals.them.totalBK, 'good-green': totals.us.totalBK > totals.them.totalBK}">{{totals.us.totalBK}}</div>
                                                <div class="col-sm-1 hidden-xs text-center" ng-class="{'error-red': totals.us.totalAQ < totals.them.totalAQ, 'good-green': totals.us.totalAQ > totals.them.totalAQ}">{{totals.us.totalAQ}}</div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': totals.us.totalHeroes < totals.them.totalHeroes, 'good-green': totals.us.totalHeroes > totals.them.totalHeroes}">{{totals.us.totalHeroes}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="row margin-bottom-big">
                                                <div class="col-xs-12 text-center">
                                                    <h4 class="primary-dark"><strong>{{them.clan_name}}</strong></h4>
                                                </div>
                                            </div>
                                            <div class="row arranged-row strong">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">#</div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 ">Player</div>
                                                <div class="col-xs-1 text-center">TH</div>
                                                <div class="col-xs-1 text-center">W</div>
                                                <div class="col-sm-1 hidden-xs text-center">BK</div>
                                                <div class="col-sm-1 hidden-xs text-center">AQ</div>
                                                <div class="col-xs-1 text-center">H</div>
                                            </div>
                                            <div class="row row-underline-2"></div>
                                            <div class="row arranged-row" ng-repeat="player in them.roster" ng-class="{'animate-row': themChange[$index]==true}">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">{{$index + 1}}</div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 no-wrap" ng-if="player.ign">{{player.ign}}</div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6" ng-if="!player.ign"><i>-- empty --</i></div>
                                                <div class="col-xs-1 text-center">{{player.th}}</div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': player.warWeight==0}" ng-if="player.ign">{{player.warWeight}}</div>
                                                <div class="col-sm-1 text-center hidden-xs">{{player.bk}}</div>
                                                <div class="col-sm-1 text-center hidden-xs">{{player.aq}}</div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': player.bk + player.aq ==0}">{{player.bk + player.aq}}</div>
                                            </div>
                                            <div class="row row-underline-2"></div>
                                            <div class="row arranged-row strong">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 text-right">Totals</div>
                                                <div class="col-xs-1 text-center"></div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': totals.us.totalWeight > totals.them.totalWeight, 'good-green': totals.us.totalWeight < totals.them.totalWeight}">{{totals.them.totalWeight}}</div>
                                                <div class="col-sm-1 hidden-xs text-center" ng-class="{'error-red': totals.us.totalBK > totals.them.totalBK, 'good-green': totals.us.totalBK < totals.them.totalBK}">{{totals.them.totalBK}}</div>
                                                <div class="col-sm-1 hidden-xs text-center" ng-class="{'error-red': totals.us.totalAQ > totals.them.totalAQ, 'good-green': totals.us.totalAQ < totals.them.totalAQ}">{{totals.them.totalAQ}}</div>
                                                <div class="col-xs-1 text-center" ng-class="{'error-red': totals.us.totalHeroes > totals.them.totalHeroes, 'good-green': totals.us.totalHeroes < totals.them.totalHeroes}">{{totals.them.totalHeroes}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->

            <!-- page content - new war -->
            <div class="row content-body margin-bottom-huge" ng-if="newWar">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <h1>Arranged War</h1>
                            <h3 class="same-line-sub-heading alternate">{{meta.current_clan.name}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row clan-search margin-bottom-big">
                                <div class="col-xs-4 search-box">
                                    <div class="form-control-group">
                                        <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="searchTerms" press-enter="search(searchTerms)">
                                        <button class="btn btn-search" ng-click="search(searchTerms)"><i class="icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 t-header">Clan name</div>
                                        <div class="col-sm-2 col-xs-4 t-header">Clan tag</div>
                                        <div class="col-sm-2 hidden-xs t-header">Leader</div>
                                        <div class="col-sm-2 col-xs-2 t-header text-center">Members</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                    <div ng-repeat="c in clans">
                                        <div class="row t-row">
                                            <div class="col-sm-4 col-xs-4">{{c.name}}</div>
                                            <div class="col-sm-2 col-xs-4">{{c.clan_tag}}</div>
                                            <div class="col-sm-2 hidden-xs">{{c.metrics.leader}}</div>
                                            <div class="col-sm-2 col-xs-2 text-center">{{c.metrics.totalMembers}}</div>
                                            <div class="col-sm-2 text-right"><button class="btn btn-emphasis btn-xs" ng-click="startMatch(c)">Start Match</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content - new war -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
