<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body" ng-if="!nullState">
                <div class="col-sm-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12">
                            <h1>Base notes</h1>
                            <h3 class="same-line-sub-heading alternate">{{war.opponent_name}}</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <div class="widget">

                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
