<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body" ng-if="!nullState">
                <div class="col-sm-12">
                    <div class="row margin-bottom-big">
                        <div class="col-sm-12">
                            <h1>Base notes</h1>
                            <h3 class="same-line-sub-heading alternate">{{war.opponent_name}}</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-big">
                        <div class="col-xs-12">
                            <a href="/war/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/swords-icon.png"> Bases</a>
                            <a href="/war/team/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/team-icon.png"> Team</a>
                            <a href="/war/summary/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/trophy-icon.png"> Leaders</a>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-header">
                                    <i class="icon-left-dir action-icon pn-active" ng-click="previousBase()"></i> <h3 class="white">Base #{{baseNum}}</h3>  <i class="icon-right-dir action-icon pn-active" ng-click="nextBase()"></i>
                                </div>
                                <div class="widget-body">
                                    <div class="row margin-bottom-gigantic" ng-if="!war.bases[baseNum-1].n.img && !uploading">
                                        <div class="col-xs-12 text-center">
                                            <div ngf-drop ngf-select class="base-img-drop" ngf-drag-over-class="base-img-drop-dragover" ngf-accept="'image/*'" ngf-max-size="10485760" ng-model="war.bases[baseNum-1].n.img" ngf-change="uploadBaseImg(war.bases[baseNum-1].n.img)" ng-model-rejected="badBaseImage">
                                            <h3>Drop a picture of the base here or click to upload (<b>10MB limit</b>)</h3>
                                            </div>
                                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-gigantic" ng-if="war.bases[baseNum-1].n.img && !uploading">
                                        <div class="col-xs-12">
                                            <span class="remove-base-img" ng-click="deleteImage()">
                                                <i class="icon-cancel" title="Delete image"></i>
                                            </span>
                                            <img class="img-responsive" ng-src="https://s3.amazonaws.com/clashtools/{{war.clan_id}}/{{war.bases[baseNum-1].n.img}}">

                                        </div>
                                    </div>
                                    <div class="row margin-bottom-gigantic" ng-if="uploading">
                                        <div class="col-xs-12 text-center">
                                            <p><h3>Image uploading...</h3></p>
                                            <img ng-src="/img/wb-animation.gif">
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-huge">
                                        <div class="col-xs-12">
                                            <a class="btn btn-default btn-sm" ng-click="addNote('text')">Add text note</a>
                                            <a class="btn btn-default btn-sm" ngf-select ngf-accept="'image/*'" ngf-max-size="10485760" ng-model="noteImage" ngf-change="addImageNote(noteImage)" ng-model-rejected="badImageNote">Add image note</a>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-huge" ng-if="uploadingNoteImage">
                                        <div class="col-xs-12 text-center">
                                            <p><h3>Image uploading...</h3></p>
                                            <img ng-src="/img/wb-animation.gif">
                                        </div>
                                    </div>
                                    <div class="row row-underline-1" ng-if="war.bases[baseNum-1].n.n.length>0"></div>
                                    <div ng-repeat="note in war.bases[baseNum-1].n.n">
                                        <div class="row t-row hidden-xs">
                                            <div class="col-sm-2">
                                                <b class="emphasis">{{note.i}}</b>
                                                <i class="icon-cancel action-icon error-red" access-level="coleader" title="Delete note" ng-click="deleteNote(note, $index)"></i><br/>
                                                <span am-time-ago="{{note.created_at}}" class="small"></span>
                                            </div>
                                            <div class="col-sm-10" ng-if="note.type=='text'">
                                                {{note.content}}
                                            </div>
                                            <div class="col-sm-10" ng-if="note.type=='image'">
                                                <img class="img-responsive" ng-src="https://s3.amazonaws.com/clashtools/{{war.clan_id}}/{{note.content}}">
                                            </div>
                                        </div>
                                        <div class="row t-row visible-xs">
                                            <div class="col-xs-12">
                                                <b class="emphasis">{{note.i}}</b> added
                                                <span am-time-ago="{{note.created_at}}" class="strong"></span>
                                                <i class="icon-cancel action-icon error-red" access-level="coleader" title="Delete note" ng-click="deleteNote(note, $index)"></i><br/>
                                            </div>
                                            <div class="col-xs-12" ng-if="note.type=='text'">
                                                {{note.content}}
                                            </div>
                                            <div class="col-xs-12" ng-if="note.type=='image'">
                                                <img class="img-responsive" ng-src="https://s3.amazonaws.com/clashtools/{{war.clan_id}}/{{note.content}}">
                                            </div>
                                        </div>
                                        <div class="row row-underline-1" ng-if="$index<war.bases[baseNum-1].n.n.length-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
