<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content - new clan -->
            <div class="row content-body" ng-if="newClan">
                <div class="col-sm-12">
                    <div class="row margin-bottom-big">
                        <div class="col-sm-12">
                            <h1>Create new clan</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="widget">
                                        <div class="widget-header">
                                            Clan information
                                        </div>
                                        <div class="widget-body">
                                            <form name="newClanForm" class="form-horizontal" ng-submit="saveNewClan()" novalidate>
                                                <div class="form-group">
                                                    <label for="clanName" class="col-sm-4 control-label">Clan name</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control req-field" id="clanName" ng-model="clan.name" placeholder="Enter clan name" required ng-minlength="1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="clanTag" class="col-sm-4 control-label">Clan tag</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control req-field" id="clanName" ng-model="clan.clan_tag" placeholder="Enter clan tag" ng-minlength="1" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8 col-sm-offset-4">
                                                        <button class="btn btn-emphasis btn-sm" ng-disabled="newClanForm.$invalid">Save</button>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="errorMsg">
                                                    <div class="col-sm-12 text-center alternate">
                                                        {{errorMsg}} <a class="btn btn-alternate btn-sm">Join clan</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content - new clan -->

            <!-- page content - existing clan -->
            <div class="row content-body" ng-if="!newClan">
                <div class="col-sm-12">
                    <div class="row margin-bottom-big">
                        <div class="col-sm-12">
                            <h1>{{clan.name}}</h1> <h3 class="same-line-sub-heading alternate">{{clan.clan_tag}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="widget">
                                        <div class="widget-header">
                                            Public information
                                        </div>
                                        <div class="widget-body">
                                            <form name="editClanForm" class="form-horizontal" ng-submit="saveClan()" novalidate>
                                                <div class="form-group">
                                                    <label for="clanOverview" class="col-sm-3 control-label">Clan Overview</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="clanOverview" ng-model="clan.meta.overview" placeholder="Give the world a brief overview of what your clan is all about (500 characters max)" rows="4" ng-maxlength="500" access-level-disable="coleader"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="clanLookingFor" class="col-sm-3 control-label">We're looking for</label>
                                                    <div class="col-sm-9">
                                                        <textarea type="text" class="form-control" id="clanLookingFor" ng-model="clan.meta.lookingFor" placeholder="Tell everyone what type of members your're looking for - town halls, hero levels, etc. (500 characters max)" rows="4" ng-maxlength="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-9 col-sm-offset-3">
                                                        <button class="btn btn-emphasis btn-sm" ng-disabled="editClanForm.$invalid">Save</button>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="errorMsg">
                                                    <div class="col-sm-12 text-center alternate">
                                                        {{errorMsg}} <a class="btn btn-alternate btn-sm">Join clan</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content - existing clan -->

        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->