<div ng-if="!loggedIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top-nav-container" style="padding-bottom: 4px;">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="/">
                            <img class="barb-wrench" src="/img/home/barb-wrench.png">
                            <img class="home-logo" src="/img/logo-small.png"></a>
                    </div>
                    <div class="col-md-8 col-sm-6 hidden-xs default-nav-buttons text-right">
                        <a href="/help/faq" class="help">View Help</a>
                        <a href="/register" class="btn btn-default btn-sm">Sign up</a>
                        <a href="/login" class="btn btn-emphasis btn-sm">Log in</a>
                    </div>
                    <div class="col-xs-12 visible-xs default-nav-buttons">
                        <a href="/help/faq" class="help">View Help</a>
                        <a href="/register" class="btn btn-default btn-sm">Sign up</a>
                        <a href="/login" class="btn btn-emphasis btn-sm">Log in</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content-body home-container">
            <div class="col-xs-12">
                <div class="row"> <!-- top section -->
                    <div class="col-md-5 col-sm-7 col-xs-12 margin-bottom-huge">
                        Promo video
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/clan-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.clans | number}}</span><br>
                                        Clans
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/users-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.members | number}}</span><br>
                                        Members
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="col-md-4 col-sm-5 col-xs-12 margin-bottom-huge">
                        <h1>Welcome to clash.tools!</h1>
                        <p class="intro-text">The clash.tools application is designed from the ground up to be the easiest and most efficient way to manage clan wars in Clash of Clans. There have been a few valiant efforts at capturing the most important aspects of managing wars, but nothing with the capabilities and scale of clash.tools. If you are new here <a href="/help/faq">check out the FAQ</a>.</p>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs text-right">
                        <p><h4>Who uses clash.tools?</h4></p>
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/clan-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.clans | number}}</span><br>
                                        Clans
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/users-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.members | number}}</span><br>
                                        Members
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-small hidden-xs">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/attack-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.attacks | number}}</span><br>
                                        Attacks
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
                <div class="row visible-sm hidden-xs">
                    <div class="col-xs-12 text-center">
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/clan-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.clans | number}}</span><br>
                                        Clans
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/users-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.members | number}}</span><br>
                                        Members
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-small">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/attack-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.attacks | number}}</span><br>
                                        Attacks
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- /topsection -->

                <div class="row"> <!-- start of features -->
                    <div class="col-xs-12">
                        <div class="row margin-bottom-big"> 
                            <div class="col-xs-12 hidden-xs">
                                <div class="btn-group">
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==0 }" ng-click="currentTab=0">Clan Management</button>
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==1 }" ng-click="currentTab=1">War Management</button>
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==2 }" ng-click="currentTab=2">Attack History</button>
                                </div>
                            </div>
                            <div class="col-xs-12 visible-xs">
                                <div class="btn-group">
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==0 }" ng-click="currentTab=0">Clans</button>
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==1 }" ng-click="currentTab=1">Wars</button>
                                    <button class="btn btn-default" ng-class="{ 'btn-primary': currentTab==2 }" ng-click="currentTab=2">Attacks</button>
                                </div>
                            </div>                            
                        </div>
                        <div ng-show="currentTab==0"> <!-- clan management -->
                            <div class="row margin-bottom-huge">
                                <div class="col-xs-12">
                                    <div class="feature-container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-8 col-xs-12">
                                                <img src="/img/home/profile-screen-shot.png" width="690" height="517" class="img-responsive" alt="Clash.tools member profile">
                                            </div>
                                            <div class="col-lg-5 col-md-4 xs-12">
                                                <p class="small visible-sm visible-xs">&nbsp;</p>
                                                <p><h3>Member profiles</h3></p>
                                                <p><b class="alternate">Hero status</b> - know when clan mates have hero's down when planning your next war.</p>
                                                <p><b class="alternate">War weight</b> - use war weights to create a roster for an arranged match.</p>
                                                <p><b class="alternate">Member avatars</b> - everyone gets a custom look in clash tools.</p>
                                                <p><b class="alternate">Profile levels</b> - hero, troop, spell, and wall levels are all tracked for easier management.</p>
                                                <p><b class="alternate">Leader editing</b> - the leader and co-leaders can edit member profiles if necessary to keep them current.</p>                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-huge">
                                <div class="col-xs-12">
                                    <div class="feature-container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-8 col-xs-12">
                                                <img src="/img/home/joinrequest-screen-shot.png" width="682" height="252" class="img-responsive" alt="Clash.tools clan messaging">
                                            </div>
                                            <div class="col-lg-5 col-md-4 xs-12">
                                                <p class="small visible-sm visible-xs">&nbsp;</p>
                                                <p><h3>Clan messaging</h3></p>
                                                <p><b class="alternate">Join requests</b> - players request to join your clan, just like in the game. No insecure clan passwords.</p>
                                                <p><b class="alternate">General messages</b> - you can send a message to any member of your clan and they will be notified the next time they log in.</p>                                                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                            <div class="row margin-bottom-huge">
                                <div class="col-xs-12">
                                    <div class="feature-container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-8 col-xs-12">
                                                <img src="/img/home/members-screen-shot.png" width="682" height="462" class="img-responsive" alt="Clash.tools members page">
                                            </div>
                                            <div class="col-lg-5 col-md-4 xs-12">
                                                <p class="small visible-sm visible-xs">&nbsp; </p>
                                                <p><h3>Member management</h3></p>
                                                <p><b class="alternate">Who's in</b> - a place where you can always see who's currently in the clan, and how long they've been here.</p>
                                                <p><b class="alternate">Profiles and results</b> - quick access to member profiles and attack results.</p>
                                                <p><b class="alternate">Promotions</b> - promote members to elder or co-leader when you need more help managing the clan.</p>
                                                <p><b class="alternate">Demotions and kicks</b> - demote members  and kick out of the clan when they leave you in the game.</p>                                            
                                                <p><b class="alternate">Town halls</b> - a visual of how many of each town hall you have in the clan</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                        <!-- /clan management -->

                        <div ng-show="currentTab==1"> <!-- war management -->
                            <div class="row margin-bottom-huge">
                                <div class="col-xs-12">
                                    <div class="feature-container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-8 col-xs-12">
                                                <img src="/img/home/warsettings-screen-shot.png" width="708" height="393" class="img-responsive" alt="Clash.tools war settings">
                                            </div>
                                            <div class="col-lg-5 col-md-4 xs-12">
                                                <p class="small visible-sm visible-xs">&nbsp;</p>
                                                <p><h3>War settings</h3></p>
                                                <p><b class="alternate">Base assignments</b> - flexibility for clans who assign bases and those that let members sign up for their own targets.</p>
                                                <p><b class="alternate">Call timers</b> - set call timers for the exact number of hours you will allow. Set different timers for first attacks and cleanups.</p>  
                                                <p><b class="alternate">Free for all</b> - the end of the war can sometimes be chaotic with everyone scrambling to get their attacks in. Set a free-for all period when you want all bases to be open during the last part of the war.</p>                                                                        
                                                <p><b class="alternate">Overcalls</b> - if you allow more than one member to sign up for a base throughout the entire war, you can set overcalls to "Yes".</p>                                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-huge">
                                <div class="col-xs-12">
                                    <div class="feature-container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-8 col-xs-12">
                                                <img src="/img/home/warsetup-screen-shot.png" width="671" height="357" class="img-responsive" alt="Clash.tools war settings">
                                            </div>
                                            <div class="col-lg-5 col-md-4 xs-12">
                                                <p class="small visible-sm visible-xs">&nbsp;</p>
                                                <p><h3>Start a war</h3></p>
                                                <p><b class="alternate">Opponent</b> - set the clan tag of your opponenent in case you face them again in the future.</p>
                                                <p><b class="alternate">War timer</b> - set the war timer, and re-set it any time during prep day or war day (good for when Supercell has a maintenance period and freezes timers).</p>  
                                                <p><b class="alternate">Make visible</b> - if you're the type of clan that collaborates on planning and assignments, you don't want members seeing them too early in case there are changes. Don't make the war visible until you have it set up exactly how you want.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <!-- /war management -->
                    </div>
                </div> <!-- /features -->
            </div>
        </div>

        <!-- page content -->
        <!-- <div class="row content-body">
            <div class="col-md-9 col-sm-12">
                <div class="row margin-bottom-big">
                    <div class="col-xs-12">
                        <h1>Welcome to clash.tools!</h1>
                    </div>
                </div>
                <div class="row margin-bottom-big">
                    <div class="col-xs-12">
                        <p>The clash.tools application is designed from the ground up to be the easiest and most efficient way to manage clan wars in Clash of Clans. There have been a few valiant efforts at capturing the most important aspects of managing wars, but nothing with the capabilities and scale of clash.tools. If you are new here <a href="/help/faq">check out the FAQ</a>.</p>
                    </div>
                </div>
                <div class="row margin-bottom-big visible-sm visible-xs text-center">
                    <div class="summary-widget-small">
                        <table width="100%" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                <td><img src="/img/clan-icon.png"></td>
                                <td class="text-center">
                                    <span class="metric">{{metrics.clans | number}}</span><br>
                                    Clans
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="summary-widget-small">
                        <table width="100%" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                <td><img src="/img/users-icon.png"></td>
                                <td class="text-center">
                                    <span class="metric">{{metrics.members | number}}</span><br>
                                    Members
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="summary-widget-small hidden-xs">
                        <table width="100%" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                <td><img src="/img/attack-icon.png"></td>
                                <td class="text-center">
                                    <span class="metric">{{metrics.attacks | number}}</span><br>
                                    Attacks
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row margin-bottom-huge">
                    <div class="col-xs-12 demo-container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-5 dc-description">
                                <h4>{{pics[picIndex].title}}</h4><br>
                                {{pics[picIndex].description}}<br><br>
                                <a class="btn btn-xs btn-default" ng-disabled="picIndex==0" ng-click="picIndex=picIndex-1"><i class="icon-left"></i> <span class="hidden-xs">Prev</span></a>
                                <a class="btn btn-xs btn-default" ng-disabled="picIndex==pics.length-1"ng-click="picIndex=picIndex+1"><span class="hidden-xs">Next</span> <i class="icon-right"></i></a>
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-7">
                                <img class="img-responsive" src="/img/{{pics[picIndex].image}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-big">
                    <div class="col-xs-12">
                        <p><a href="http://forum.supercell.net/private.php?do=newpm&u=778211" target="_blank">Message minpin on the Supercell forum</a> or participate in the <a href="http://forum.supercell.net/showthread.php/681133-Official-clash-tools-feedback-thread" target="_blank">official feedback thread</a> if you have questions or suggestions.</p><p>Thanks to KARA Rising and KARA Heroes for pushing through all the bugs and getting it shaped up for the community to use.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs text-center">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <p><h4>Who uses clash.tools?</h4></p>
                        <div class="summary-widget-big">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/clan-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.clans | number}}</span><br>
                                        Clans
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-big">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/users-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.members | number}}</span><br>
                                        Members
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="summary-widget-big">
                            <table width="100%" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                    <td><img src="/img/attack-icon.png"></td>
                                    <td class="text-center">
                                        <span class="metric">{{metrics.attacks | number}}</span><br>
                                        Attacks
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> --> <!-- /page content -->
        <div class="row disclaimer">
            <div class="col-xs-12">
                This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell’s Fan Content Policy: <a href="http://www.supercell.com/fan-content-policy" target="_blank">www.supercell.com/fan-content-policy</a>.
            </div>
        </div>
    </div>
</div>