<div class="container" ng-show="success">
    <div class="row">
        <div class="col-xs-12 lr-header">
            <img src="/img/logo-small.png" class="img-responsive object-center">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-bottom-big text-center">
            <h4><strong>Your email has been verified, thank you!</strong></h4>
        </div>
    </div>
    <div class="row margin-bottom-gigantic text-center">
        <div class="col-xs-12">
            The application should automatically refresh - if not <a href="/">click here</a> to go home.
        </div>
    </div>
</div>

<div class="container margin-top-big" ng-show="badToken">
    <div class="row">
        <div class="col-xs-12 lr-header">
            <img src="/img/logo-small.png" class="img-responsive object-center">
        </div>
    </div>
    <div class="row margin-bottom-big">
        <div class="col-xs-12 text-center">
            <h4><strong>Invalid token, could not verify</strong></h4>
        </div>
    </div>
    <div class="row margin-bottom-gigantic">
        <div class="col-xs-12 text-center">
            It looks like something went wrong. If you'd like to generate another verification link, <a href="/settings">go to the settings page</a>.
        </div>
    </div>
</div>

