<div ng-if="loggedIn" id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-big">
                        <div class="col-xs-10">
                            <h1>Help</h1>
                            <h3 class="same-line-sub-heading alternate">{{helpContent[helpIndex].title}}</h3>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-2">
                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle btn btn-default btn-xs">
                                    Help <i class="icon-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 help-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div ng-include="helpContent[helpIndex].template"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs help-toc-container">
                            <div class="widget margin-bottom-huge">
                                <div class="widget-body">
                                    <div class="row htc-header">
                                        <div class="col-xs-12">
                                            Help TOC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul>
                                                <li ng-repeat="help in helpContent | orderBy: 'order'"><a href="/help/{{help.path}}">{{help.title}}</a> {{$key}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=startup-products-20&o=1&p=14&l=ur1&category=launchpad&banner=01561HY6J841N0QYCPR2&f=ifr&linkID=MNRB6AWR3ED646ZA" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br/><br/>
                                    <span><h4 class="emphasis" popover-placement="left" popover="It costs money every month to keep clash.tools running (servers and hosting). When you are going to buy something on amazon.com, click through this banner. It doesn't cost you anything extra and it helps us keep the site running free of charge to you and your clan mates." popover-append-to-body="true" popover-trigger="mouseenter">What's this?</h4></span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12 visible-xs text-center">
                            <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=startup-products-20&o=1&p=12&l=ur1&category=launchpad&banner=1QQHT4W4W37S6AZH66G2&f=ifr&linkID=WHI52WOTM2HCZMO4" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br/><br/>
                            <span><h4 class="emphasis" popover-placement="top" popover="It costs money every month to keep clash.tools running (servers and hosting). When you are going to buy something on amazon.com, click through this banner. It doesn't cost you anything extra and it helps us keep the site running free of charge to you and your clan mates." popover-append-to-body="true" popover-trigger="mouseenter">What's this?</h4></span>

                        </div>
                    </div>                    
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->


<div ng-if="!loggedIn">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 top-nav-container" style="padding-bottom: 4px;">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="/"><img class="logo" src="/img/logo-small.png"></a> 
                    </div>
                    <div class="col-md-8 col-sm-6 hidden-xs default-nav-buttons text-right">
                        <a href="/help/faq" class="help">View Help</a>
                        <a href="/register" class="btn btn-default btn-sm">Sign up</a>
                        <a href="/login" class="btn btn-emphasis btn-sm">Log in</a>
                    </div>
                    <div class="col-xs-12 visible-xs default-nav-buttons">
                        <a href="/help/faq" class="help">View Help</a>
                        <a href="/register" class="btn btn-default btn-sm">Sign up</a>
                        <a href="/login" class="btn btn-emphasis btn-sm">Log in</a>
                    </div>
                </div>
            </div>
        </div>


            <!-- page content -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-big">
                        <div class="col-xs-10">
                            <h1>Help</h1>
                            <h3 class="same-line-sub-heading alternate">{{helpContent[helpIndex].title}}</h3>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-2">
                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle btn btn-default btn-xs">
                                    Help <i class="icon-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 help-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div ng-include="helpContent[helpIndex].template"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs help-toc-container">
                            <div class="widget margin-bottom-huge">
                                <div class="widget-body">
                                    <div class="row htc-header">
                                        <div class="col-xs-12">
                                            Help TOC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul>
                                                <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=startup-products-20&o=1&p=14&l=ur1&category=launchpad&banner=01561HY6J841N0QYCPR2&f=ifr&linkID=MNRB6AWR3ED646ZA" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br/><br/>
                                    <span><h4 class="emphasis" popover-placement="left" popover="It costs money every month to keep clash.tools running (servers and hosting). When you are going to buy something on amazon.com, click through this banner. It doesn't cost you anything extra and it helps us keep the site running free of charge to you and your clan mates." popover-append-to-body="true" popover-trigger="mouseenter">What's this?</h4></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 visible-xs text-center">
                            <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=startup-products-20&o=1&p=12&l=ur1&category=launchpad&banner=1QQHT4W4W37S6AZH66G2&f=ifr&linkID=WHI52WOTM2HCZMO4" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br/><br/>
                            <span><h4 class="emphasis" popover-placement="top" popover="It costs money every month to keep clash.tools running (servers and hosting). When you are going to buy something on amazon.com, click through this banner. It doesn't cost you anything extra and it helps us keep the site running free of charge to you and your clan mates." popover-append-to-body="true" popover-trigger="mouseenter">What's this?</h4></span>

                        </div>
                    </div>
                    <div class="row disclaimer">
                        <div class="col-xs-12">
                            This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell’s Fan Content Policy: <a href="http://www.supercell.com/fan-content-policy" target="_blank">www.supercell.com/fan-content-policy</a>.
                        </div>
                    </div>                    
                </div>
            </div> <!-- /page content -->
    </div>
</div>