<div ng-if="loggedIn" id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-big">
                        <div class="col-xs-10">
                            <h1>Help</h1>
                            <h3 class="same-line-sub-heading alternate">{{helpContent[helpId].title}}</h3>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-2">
                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle btn btn-default btn-xs">
                                    Help <i class="icon-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                </ul>
                            </span>  
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 help-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div ng-include="helpContent[helpId].template"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs help-toc-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row htc-header">
                                        <div class="col-xs-12">
                                            Help TOC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul>
                                                <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a> {{$key}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->


<div ng-if="!loggedIn">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 top-nav-container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <a href="/"><img class="logo" src="/img/logo-small.png"></a> <span class="small primary-40"><b>beta</b></span>
                    </div>
<!--                     <div class="col-md-4 hidden-sm hidden-xs search-box">
                        <div class="form-control-group">
                            <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="searchTerms" press-enter="search()">
                            <button class="btn btn-search" ng-click="search()"><i class="icon-search"></i></button>
                        </div>
                    </div> -->
                    <div class="col-md-8 col-sm-6 col-xs-6 default-nav-buttons text-right">
                        <a href="/register" class="btn btn-default btn-sm">Sign up</a>
                        <a href="/login" class="btn btn-emphasis btn-sm">Log in</a>
                    </div>
                </div>
            </div>
        </div>


            <!-- page content -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-big">
                        <div class="col-xs-10">
                            <h1>Help</h1>
                            <h3 class="same-line-sub-heading alternate">{{helpContent[helpId].title}}</h3>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-xs-2">
                            <span class="dropdown pull-right" on-toggle="toggled(open)">
                                <a href class="dropdown-toggle btn btn-default btn-xs">
                                    Help <i class="icon-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                </ul>
                            </span>                            
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 help-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div ng-include="helpContent[helpId].template"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs help-toc-container">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row htc-header">
                                        <div class="col-xs-12">
                                            Help TOC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul>
                                                <li ng-repeat="help in helpContent"><a href="/help/{{help.path}}">{{help.title}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
    </div>
</div>