<div top-nav></div>
<div class="body-container" ng-hide="nullState">
    <div class="container">
        <div class="row margin-bottom-big">
            <div class="col-xs-6">
                <h4>Dashboard</h4>
            </div>
            <div class="col-xs-6 dashboard-filter-container text-right">
                <span class="filter-label">Replies from last</span> <a href class="day-link" ng-repeat="day in filterSet.days" ng-click="filterDay(day.num)" ng-class="day.active">{{day.display}}</a>
            </div>
        </div>
        <div class="row margin-bottom-huge">
            <div class="col-sm-3">
                <div class="summary-widget-big hidden-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-mail vis-1-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalEmails | number:0}}</span><br/>
                            Email Replies
                        </td>
                    </tr>
                    </table>
                </div>
                <div class="summary-widget-small visible-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-mail vis-1-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalEmails | number:0}}</span><br/>
                            Email Replies
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="summary-widget-big hidden-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-user vis-2-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalPeople | number:0}}</span><br/>
                            New Names
                        </td>
                    </tr>
                    </table>
                </div>
                <div class="summary-widget-small visible-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-user vis-2-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalPeople | number:0}}</span><br/>
                            New Names
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="summary-widget-big hidden-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-at vis-3-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalEmailAddresses | number:0}}</span><br/>
                            Addresses
                        </td>
                    </tr>
                    </table>
                </div>
                <div class="summary-widget-small visible-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-at vis-3-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalEmailAddresses | number:0}}</span><br/>
                            Addresses
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="summary-widget-big hidden-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-phone vis-4-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalPhoneNumbers | number:0}}</span><br/>
                            Phone #'s
                        </td>
                    </tr>
                    </table>
                </div>
                <div class="summary-widget-small visible-sm">
                    <table width="100%" cellpadding="0" border="0">
                    <tr>
                        <td><i class="icon-phone vis-4-bg"></i></td>
                        <td class="text-center">
                            <span class="metric">{{totalPhoneNumbers | number:0}}</span><br/>
                            Phone #'s
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div> <!-- end summary widget row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="widget">
                    <div class="widget-header">Replies by Type</div>
                    <div class="widget-body">
                        <highchart id="emails-by-type" config="hcEmailsByType">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget">
                    <div class="widget-header">Reply Trend</div>
                    <div class="widget-body">
                        <highchart id="emails-by-day" config="hcEmailsByDay">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start of null state container -->
<div class="body-container" ng-show="nullState">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="well well-nullstate">
                    <div class="row margin-bottom-huge">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="summary-widget-small">
                                <table width="100%" cellpadding="0" border="0">
                                <tr>
                                    <td><i class="icon-mail primary-40-bg"></i></td>
                                    <td class="text-center brand-primary-40">
                                        <span class="metric">214</span><br/>
                                        Total Replies
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="summary-widget-small">
                                <table width="100%" cellpadding="0" border="0">
                                <tr>
                                    <td><i class="icon-user primary-40-bg"></i></td>
                                    <td class="text-center primary-40">
                                        <span class="metric">249</span><br/>
                                        Contacts
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 hidden-sm">
                            <div class="summary-widget-small">
                                <table width="100%" cellpadding="0" border="0">
                                <tr>
                                    <td><i class="icon-at primary-40-bg"></i></td>
                                    <td class="text-center primary-40">
                                        <span class="metric">266</span><br/>
                                        Addresses
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3 hidden-md hidden-sm">
                            <div class="summary-widget-small">
                                <table width="100%" cellpadding="0" border="0">
                                <tr>
                                    <td><i class="icon-phone primary-40-bg"></i></td>
                                    <td class="text-center primary-40">
                                        <span class="metric">143</span><br/>
                                        Phone Numbers
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end summary widget row -->

                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12 text-center">
                            <h3>It looks like there's no data in your account</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            If you haven't done so already, please read the <a href="http://www.siftrock.com/getting-started/" target="_blank">getting started guide</a>. It will walk you through initial account setup. If you're ready to start configuring up your account, head over to the <a href="/settings">settings page</a>.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end null state -->

<div footer></div>
