<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body" ng-if="!nullState">
                <div class="col-sm-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12">
                            <h1>{{meta.ign}}</h1>
                            <h3 class="same-line-sub-heading alternate" ng-if="clan.name">{{meta.current_clan.name}}</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12 war-summary-container">
                            <div class="widget">
                                <div class="widget-header"><h2>War vs. <b>{{war.opponent_name}}</b></h2> <span ng-if="war" access-level="coleader" class="pull-right"><a href="/startwar/{{war._id}}" class="btn btn-alternate btn-xs">Leader setup</a></span></div>
                                <div class="widget-body">
                                    <div class="row" ng-show="!war">
                                        <div class="col-xs-12">
                                            <h3>No war currently active</h3><br/>
                                            <a href="/startwar/new" access-level="coleader" class="btn btn-emphasis btn-sm start-war">Start war</a>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="war">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 war-vs">
                                                    <div class="war-vs-header">
                                                        <a href="/war/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/swords-icon.png"> Detail</a>
                                                        <a href="/war/team/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/team-icon.png"> Team</a>
                                                        <a href="/war/summary/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/trophy-icon.png"> Summary</a>
                                                        <!-- <a href="/war/{{war._id}}" class="btn btn-alternate">War vs. {{war.opponent_name}}</a> -->
                                                    </div>
                                                    <!-- <br class="hidden-lg hidden-md hidden-sm" /> -->
                                                    <div class="wc-inner" ng-show="!warEnded">
                                                    <span ng-if="warStarted">Ends</span><span ng-if="!warStarted">Starts</span> in
                                                    <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                                    <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}<span class="hidden-xs">, <b>{{seconds}}</b> second{{secondsS}}</span>
                                                    </timer>
                                                    </div>
                                                    <div ng-if="warEnded" access-level="coleader"><a href class="btn btn-alternate btn-sm pull-right" ng-click="endWar()">End War</a></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 war-target">
                                                    <div class="target-widget" ng-repeat="target in playerTargets">
                                                        <div class="tw-header text-center">
                                                            Target {{$index + 1}}
                                                        </div>
                                                        <div class="tw-body text-center">
                                                            #{{target.base_num}}
                                                        </div>
                                                        <div class="tw-stars text-center">
                                                            <span class="dropdown" on-toggle="toggled(open)">
                                                                <a href class="dropdown-toggle">
                                                                    <img src="/img/icons/stars.png" ng-if="!warStarted" popover-placement="right" popover="You can set attack stars after the war starts" popover-append-to-body="true" popover-trigger="mouseenter">
                                                                    <img src="/img/icons/stars.png" ng-if="target.stars==null && warStarted">
                                                                    <img src="/img/icons/stars-0.png" ng-if="target.stars==0">
                                                                    <img src="/img/icons/stars-1.png" ng-if="target.stars==1">
                                                                    <img src="/img/icons/stars-2.png" ng-if="target.stars==2">
                                                                    <img src="/img/icons/stars-3.png" ng-if="target.stars==3">
                                                                </a>
                                                                <ul class="dropdown-menu" ng-if="warStarted">
                                                                    <li><a href ng-click="changeStars($index, target.base_num, 0)"><img src="/img/icons/stars-0.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, target.base_num, 1)"><img src="/img/icons/stars-1.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, target.base_num, 2)"><img src="/img/icons/stars-2.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, target.base_num, 3)"><img src="/img/icons/stars-3.png"></a></li>
                                                                    <li><a href ng-click="deleteCall($index, target.base_num)"><img src="/img/icons/delete-call.png"></a></li>
                                                                </ul>
                                                            </span>

                                                        </div>
                                                        <div class="tw-expire text-center" ng-if="target.stars==null && target.expires > 0">
                                                            Expires <b>{{target.hours}}h {{target.minutes}}m</b>
                                                        </div>
                                                        <div class="tw-expire text-center" ng-if="target.stars==null && target.expires < 0">
                                                            <b class="error-red">expired!</b>
                                                        </div>
                                                        <div class="tw-expire text-center" ng-if="target.stars!=null">
                                                            Attack done
                                                        </div>
                                                        <div class="tw-expire text-center" ng-if="target.expires==0 && target.stars==null">
                                                            <b>free for all</b>
                                                        </div>
                                                    </div>
                                                    <div class="target-widget tw-none" ng-if="playerTargets.length<1">
                                                        <div class="tw-header text-center">
                                                            Target 1
                                                        </div>
                                                        <div class="tw-body text-center">
                                                            none
                                                        </div>
                                                        <div class="tw-stars text-center">
                                                            <img src="/img/icons/stars-blank.png">
                                                        </div>
                                                        <div class="tw-expire text-center">
                                                            n/a
                                                        </div>
                                                    </div>
                                                    <div class="target-widget tw-none" ng-if="playerTargets.length<2">
                                                        <div class="tw-header text-center">
                                                            Target 2
                                                        </div>
                                                        <div class="tw-body text-center">
                                                            none
                                                        </div>
                                                        <div class="tw-stars text-center">
                                                            <img src="/img/icons/stars-blank.png">
                                                        </div>
                                                        <div class="tw-expire text-center">
                                                            n/a
                                                        </div>
                                                    </div>
                                                    <div class="open-targets" ng-if="warStarted && playerTargets.length < 2">
                                                        <div class="ot-header">
                                                            <b>Open bases</b> <span class="tiny">(click to reserve)</span>
                                                        </div>
                                                        <div class="target-widget" ng-repeat="base in openBases" ng-click="reserveBase(base.base_num-1)">
                                                            <div class="tw-header text-center">
                                                                TH{{base.th}}
                                                            </div>
                                                            <div class="tw-body text-center">
                                                                #{{base.base_num}}
                                                            </div>
                                                            <div class="tw-stars text-center">
                                                                <img src="/img/icons/stars-tiny-{{base.stars}}.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="open-targets-pre text-center" ng-if="!warStarted && isInWar">
                                                        <h4 class="primary-40"><p>Open targets will be available after the war starts</p></h4>
                                                    </div>
                                                    <div class="open-targets-pre text-center" ng-if="warStarted && playerTargets.length==2 && isInWar">
                                                        <h4 class="primary-40"><p>You already have two assigned bases, open targets unavailable</p></h4>
                                                    </div>
                                                    <div class="open-targets-pre text-center" ng-if="!isInWar">
                                                        <h4 class="primary-40"><p>You are not in this war, no targets can be reserved</p></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 margin-bottom-huge">
                            <div class="widget">
                                <div class="widget-header">Your status</div>
                                <div class="widget-body">
                                    <a ng-if="meta.role!='leader'" href class="btn btn-xs btn-emphasis" ng-click="leaveClan()">Leave clan</a>
                                    <a ng-if="meta.role=='leader'" href class="btn btn-xs btn-emphasis" popover-placement="right" popover="You must promote another member to leader before leaving the clan" popover-append-to-body="true" popover-trigger="click">Leave clan</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12 margin-bottom-huge">
                            <div class="widget">
                                <div class="widget-header">Recent clan activity</div>
                                <div class="widget-body messages-widget">
                                    <div class="row margin-bottom-medium" ng-repeat="cm in clanMessages">
                                        <div class="col-sm-12 col-xs-12 tiny">
                                            <i class="icon-user primary-20" ng-if="cm.type=='member'"></i>
                                            <i class="icon-award primary-20" ng-if="cm.type=='special'"></i>
                                            <i class="icon-bullseye primary-20" ng-if="cm.type=='target'"></i>
                                            <i class="icon-star-empty primary-20" ng-if="cm.type=='attack'"></i>
                                            <i class="icon-cancel primary-20" ng-if="cm.type=='delete'"></i>
                                            <span ng-bind-html="cm.message">
                                            {{cm.message}}
                                            </span>
                                            <span am-time-ago="{{cm.created_at}}" class="alternate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /page content -->

            <!-- null state -->
            <div class="row content-body" ng-if="nullState">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12">
                            <h1>{{meta.ign}}</h1>
                            <a href="/clans/*" class="same-line-sub-heading-btn btn btn-sm btn-alternate">Join a clan</a>
                            <a href="/clan/new" class="same-line-sub-heading-btn btn btn-sm btn-alternate">Create a clan</a>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12 war-summary-container">
                            <div class="widget">
                                <div class="widget-header">Welcome to clash.tools!</div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Looks like you're new here. Welcome to clash.tools - the easiest way to manage and track clan wars. <br/><br/>
                                            First, get started by <a href="/profile">completing your profile</a>. Your profile information will be available to clan leaders when you send a join request.<br/><br/>
                                            <b>Clan leaders</b> - if you haven't added your clan to clash.tools yet, add it now by selecting "Create a clan" at the top of this page.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /null state -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
