<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body mail-container">
                <div class="col-sm-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-9">
                            <h1>{{ign}}</h1>
                            <h3 class="same-line-sub-heading alternate" ng-if="clan.name">{{clan.name}}</h3>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a href="/newmail/new" class="btn btn-emphasis btn-sm text-right">New message</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="row folder" ng-class="{'active-folder': folder=='inbox'}">
                                <div class="col-sm-12">
                                    <a href="/mail?folder=inbox"><i class="icon-inbox"></i> Inbox <span ng-if="counts.inbox>0">({{counts.inbox}})</span></a>
                                </div>
                            </div>
                            <div class="row folder" ng-class="{'active-folder': folder=='sent'}">
                                <div class="col-sm-12">
                                    <a href="/mail?folder=sent"><i class="icon-inbox"></i> Sent <span ng-if="counts.sent>0">({{counts.sent}})</span></a>
                                </div>
                            </div>
                            <div class="row folder" ng-class="{'active-folder': folder=='trash'}">
                                <div class="col-sm-12">
                                    <a href="/mail?folder=trash"><i class="icon-trash"></i> Trash <span ng-if="counts.trash>0">({{counts.trash}})</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="widget">
                                <div class="widget-body mail-detail-container">
                                    <div class="row md-subject">
                                        <div class="col-sm-10">{{emailDetail.subject}}</div>
                                        <div class="col-sm-2 text-right">
                                            <a href="/newmail/{{message._id}}?hint=reply&folder={{folder}}"><i class="icon-reply" title="Reply"></i></a>
                                            <a href="/newmail/{{message._id}}?hint=forward&folder={{folder}}"><i class="icon-forward" title="Forward"></i></a>
                                            <a href ng-click="deleteMessage()" ng-if="folder!='trash'"><i class="icon-trash" title="Delete"></i></a>
                                        </div>
                                    </div>
                                    <div class="row row-underline-1"></div>
                                    <div class="row md-header">
                                        <div class="col-sm-6">
                                            <img class="mdh-picture" src="/img/player-temp.png" width="32" height="32">
                                            <span class="mdh-people"><strong>{{emailDetail.from_user.ign}}</strong><br/>
                                            To: {{emailDetail.to_user.ign}}</span>
                                        </div>
                                    </div>
                                    <div class="row md-body">
                                        <div class="col-xs-12">
                                            {{emailDetail.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
