<div class="container margin-top-big" ng-hide="badToken || success">
    <form name="pwResetForm" ng-submit="reset()">
    <div class="row margin-bottom-huge">
        <div class="col-sm-12">
            <img src="/img/logo-small.png" class="img-responsive object-center">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-4">
            <h4><strong>Password reset</strong></h4>
        </div>
    </div>
    <div class="row margin-bottom-gigantic">
        <div class="col-sm-5 col-sm-offset-4">
            Use the form below to set a new password.
        </div>
    </div>
    <div class="row margin-bottom-gigantic">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
                <label for="pw1" class="control-label">Password (minimum 4 characters)</label>
                <input type="password" name="pw1" ng-model="pw1" class="form-control req-field" placeholder="" required ng-minlength="4" ng-maxlength="50">
            </div>
            <div class="form-group" ng-class="{'has-error': pwResetForm.pw2.$error.match}">
                <label for="pw2" class="control-label">Password (again)</label>
                <input type="password" name="pw2" ng-model="pw2" class="form-control req-field" placeholder="" required ng-minlength="4" ng-maxlength="50" field-match="pw1">
            </div>

            <div class="form-group">
                <button type="submit" ng-disabled="pwResetForm.$invalid" class="btn btn-emphasis">Reset Password</button>
            </div>
            <div class="form-group" ng-show="pwResetForm.pw2.$error.match">
                <strong class="error-red">Passwords don't match</strong>
            </div>
        </div>
    </div>
    </form>
</div>

<div class="container margin-top-big" ng-show="success">
    <div class="row margin-bottom-huge">
        <div class="col-sm-12">
            <img src="/img/logo-small.png" class="img-responsive object-center">
        </div>
    </div>
    <div class="row margin-bottom-huge text-center">
        <div class="col-sm-5 col-sm-offset-4 margin-bottom-big">
            <h4><strong>Your password has been reset</strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-4 text-center">
            Go to the <a href="/login">log in page</a> to continue.
        </div>
    </div>
</div>

<div class="container margin-top-big" ng-show="badToken">
    <div class="row margin-bottom-huge">
        <div class="col-sm-12">
            <img src="/img/logo-small.png" class="img-responsive object-center">
        </div>
    </div>
    <div class="row margin-bottom-huge">
        <div class="col-sm-5 col-sm-offset-4 text-center">
            <h4><strong>Invalid password reset link</strong></h4>
        </div>
    </div>
    <div class="row margin-bottom-gigantic">
        <div class="col-sm-5 col-sm-offset-4">
            Links are only valid for 24 hours. If you need to generate another password reset, <a href="/login">go to the log in page</a>.
        </div>
    </div>
</div>