<div class="lr-header text-center">
    <img src="/img/logo-large.png" class="logo">
</div>

<form name="registerForm" ng-submit="register()" novalidate>
<div class="lr-register">
    <div class="left-side">
        <div>
            <h2>Create a clash.tools account</h2>
        </div>
        <div class="margin-bottom-huge">
            <h4>No cost, and we promise not to spam you</h4>
        </div>
        <div class="form-group">
            <label for="emailAddress" class="control-label">Email Address</label>
            <input type="email" name="emailAddress" ng-model="emailAddress" class="form-control req-field" placeholder="Email" required ng-minlength="1">
        </div>
        <div class="form-group">
            <label for="company" class="control-label">In Game Name</label>
            <input type="text" name="ign" ng-model="ign" class="form-control req-field" placeholder="IGN" required ng-minlength="1">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password (minimum 4 characters)</label>
            <input type="password" name="password" ng-model="password" class="form-control req-field" placeholder="Password" required ng-minlength="4" ng-maxlength="50">
        </div>
        <div class="form-group" ng-show="hasError">
            <strong>Account already exists - to log in <a href="/login">click here</a>.</strong>
        </div>
        <div class="form-group">
            <div class="col-sm-5 col-xs-6">
                <button track="Register page - submit" type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Create Account</button>
            </div>
        </div>

    </div>
    <div class="hr-vertical">
        <div class="inner">
            &nbsp;
        </div>
    </div>
    <div class="right-side text-center">
        <h5>Clan management done right</h5><br/><br/><br/>
        <h4>Keep organized for war, clan communication, blah blah blah</h4><br/><br/><br/>
        <h4>Something else interesting blah blah blah</h4>
    </div>
</div>
</form>
<div class="lr-footer">
    Already have an account? <a href="/login">Log in</a>
</div>
