<div class="lr-header text-center">
    <img src="/img/logo-medium.png" class="logo">
    <h1>siftrock</h1>
</div>

<form name="registerForm" ng-submit="register()" novalidate>
<div class="lr-register">
    <div class="left-side">
        <div>
            <h2>Sign up for a free trial</h2>
        </div>
        <div class="margin-bottom-huge">
            <h4>Start your no-risk trial today</h4>
        </div>
        <div class="form-group">
            <label for="name" class="control-label">First and Last Name</label>
            <input type="text" name="name" ng-model="name" class="form-control req-field" placeholder="Your name" required ng-minlength="1">
        </div>
        <div class="form-group">
            <label for="company" class="control-label">Company</label>
            <input type="text" name="company" ng-model="company" class="form-control req-field" placeholder="Company" required ng-minlength="1">
        </div>
        <div class="form-group">
            <label for="emailAddress" class="control-label">Email Address</label>
            <input type="email" name="emailAddress" ng-model="emailAddress" class="form-control req-field" placeholder="Email" required ng-minlength="1">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password (minimum 4 characters)</label>
            <input type="password" name="password" ng-model="password" class="form-control req-field" placeholder="Password" required ng-minlength="4" ng-maxlength="50">
        </div>
        <div class="form-group" ng-show="hasError">
            <strong>Account already exists - to log in <a href="/login">click here</a>.</strong>
        </div>
        <div class="form-group">
            <div class="col-sm-5 col-xs-6">
                <button track="Register page - submit" type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Create Account</button>
            </div>
        </div>

    </div>
    <div class="hr-vertical">
        <div class="inner">
            &nbsp;
        </div>
    </div>
    <div class="right-side text-center">
        <h5>Get more value out of your email marketing campaigns</h5><br/><br/><br/>
        <h4>Nearly 5% of all recipients are out of the office or have moved to a new job</h4><br/><br/><br/>
        <h4>More than 90% of their automated responses contain valuable detail including new leads</h4>
    </div>
</div>
</form>
<div class="lr-footer">
    Already have an account? <a href="/login">Log in</a>
</div>
