<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- new war -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-md-12 col-sm-6 hidden-xs">
                            <h1>Start a war</h1>
                            <h3 class="same-line-sub-heading alternate">{{meta.current_clan.name}}</h3>
                        </div>
                    </div>
                    <!-- war settings -->
                    <div class="row margin-bottom-huge warstart-container" access-level="coleader">
                        <div class="col-sm-12">
                            <div class="widget">
                                <div class="widget-header">War setup</div>
                                <div class="widget-body">
                                    <form name="warSettingsForm" class="form-horizontal" ng-submit="saveWarFeedback()" novalidate>
                                        <div class="form-group">
                                            <label for="opponentName" class="col-sm-3 col-xs-12 control-label">Opponent name</label>
                                            <div class="col-md-5 col-sm-6 col-xs-10">
                                                <input type="text" class="form-control req-field" id="opponentName" ng-model="war.opponent_name" placeholder="Opponent's name" required ng-minlength="1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="opponentTag" class="col-sm-3 col-xs-12 control-label">Opponent tag</label>
                                            <div class="col-md-5 col-sm-6 col-xs-10">
                                                <input type="text" class="form-control req-field" id="opponentName" ng-model="war.opponent_tag" placeholder="Opponent's clan tag" required ng-minlength="1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="playerCount" class="col-sm-3 col-xs-12 control-label">Player count</label>
                                            <div class="col-md-2 col-sm-3 col-xs-5">
                                                <select class="form-control" ng-model="war.player_count" ng-change='changePlayerCount()' integer>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group" ng-show="warStartTime != null">
                                            <label for="starts" class="col-sm-3 col-xs-12 control-label">War starts in</label>
                                            <div class="col-sm-9 col-xs-12 time-label">
                                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}, <b>{{seconds}}</b> second{{secondsS}}</h3></timer> <a href class="btn btn-emphasis btn-xs set-btn" ng-click="setStartTime()">Set</a>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="warEndTime != null">
                                            <label for="ends" class="col-sm-3 col-xs-12 control-label">War ends in</label>
                                            <div class="col-sm-9 col-xs-12 time-label">
                                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warEndTime">
                                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}, <b>{{seconds}}</b> second{{secondsS}}</h3></timer> <a href class="btn btn-emphasis btn-xs set-btn" ng-click="setStartTime()">Set</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="visible" class="col-sm-3 col-xs-12 control-label">Visible to clan</label>
                                            <div class="col-md-4 col-sm-5 col-xs-6">
                                                <input type="checkbox" id="visible" ng-model="war.visible">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 text-right">
                                                <span ng-show="warSettingsForm.$dirty" class="error-red"><b>Changes not saved!</b></span><button class="btn btn-emphasis btn-sm save-btn" ng-disabled="warSettingsForm.$invalid" track="saved-warsetup">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /war settings -->

                    <!-- team bases -->
                    <div class="row warstart-container margin-bottom-huge" ng-if="war._id" access-level="coleader">
                        <div class="col-sm-12">
                            <div class="widget">
                                <div class="widget-header">Our roster (changes are auto-saved)</div>
                                <div class="widget-body war-table">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="well well-sm">
                                                <p>Set your team's roster in this section. Add members to the war roster by selecting them from the dropdown.</p>
                                                <p>Use the Auto fill buttons as a starting point - either fill from your clan's war weights or from your last war and then apply any changes from there.</p>
                                                <p>Use [Add Placeholder Member] if you want to add someone to the roster who's not in clash.tools yet. Only use this <b>as a last resort</b> - stats won't be tracked for placeholder members.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-big">
                                        <div class="col-sm-12 hidden-xs">
                                            <a href class="btn btn-default" ng-click="fillByWeight()">Auto fill by weight</a>
                                            <a class="btn btn-default" ng-click="fillFromLast()">Auto fill from last war</a>
                                        </div>
                                        <div class="col-xs-12 visible-xs">
                                            <a href class="btn btn-sm btn-default" ng-click="fillByWeight()">Auto fill by weight</a>
                                            <a class="btn btn-sm btn-default" ng-click="fillFromLast()">Auto fill from last war</a>
                                        </div>                                        
                                    </div>
                                    <div class="row margin-bottom-huge">
                                        <div class="col-xs-12 form-inline">
                                            <div class="form-group">
                                                <label for="addedPlayer">Members</label>
                                                <select class="form-control" ng-model="addedPlayer" ng-options="member as member.displayName for member in displayMembers" ng-change="addPlayer(addedPlayer)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="row arranged-row strong">
                                            <div class="col-xs-1 text-center">#</div>
                                            <div class="col-sm-4    col-xs-6">Player</div>
                                            <div class="col-xs-1 text-center">TH</div>
                                            <div class="col-sm-1 hidden-xs text-center">W</div>
                                            <div class="col-sm-1 hidden-xs text-center">BK</div>
                                            <div class="col-sm-1 hidden-xs text-center">AQ</div>
                                            <div class="col-sm-3 col-xs-4 text-center">Heroes down</div>
                                        </div>
                                        <div class="row row-underline-2"></div>
                                        <div class="row arranged-row" ng-repeat="player in roster">
                                            <div class="col-xs-1 text-center">{{$index+1}}</div>
                                            <div class="col-sm-4 col-xs-6 no-wrap" ng-if="player.ign">
                                                <i class="icon-up action-icon emphasis" ng-if="player.ign && $index > 0" title="Move up" ng-click="moveUp($index)"></i>
                                                <i class="icon-up primary-60" ng-if="player.ign && $index == 0" title="Move up"></i>
                                                <i class="icon-down action-icon emphasis" ng-if="player.ign && $index < roster.length-1" title="Move down" ng-click="moveDown($index)"></i>
                                                <i class="icon-down primary-60" ng-if="player.ign && $index >= roster.length-1" title="Move down"></i>
                                                <i class="icon-cancel action-icon error-red" ng-if="player.ign" title="Remove player" ng-click="removePlayer($index)"></i>
                                                {{player.ign}}
                                            </div>
                                            <div class="col-sm-4 col-xs-6" ng-if="!player.ign"><i>-- empty --</i></div>
                                            <div class="col-xs-1 text-center" style="z-index:50;"><a href="#" editable-select="player.th" e-ng-options="th for th in th" onaftersave="updatePlayerData($index, player)">{{player.th}}</a></div>
                                            <div class="col-sm-1 hidden-xs text-center" ng-if="player.ign" style="z-index:40;"><a href="#" editable-select="player.w" e-ng-options="wt for wt in wt" onaftersave="updatePlayerData($index, player)">{{player.w}}</a></div>
                                            <div class="col-sm-1 hidden-xs text-center" style="z-index:30;"><a href="#" editable-select="player.bk" e-ng-options="hl for hl in hl" onaftersave="updatePlayerData($index, player)">{{player.bk}}</a></div>
                                            <div class="col-sm-1 hidden-xs text-center" style="z-index:20;"><a href="#" editable-select="player.aq" e-ng-options="hl for hl in hl" onaftersave="updatePlayerData($index, player)">{{player.aq}}</a></div>
                                            <div class="col-sm-3 col-xs-4 text-center">
                                                <span ng-if="player.bkDown.days > 0 || player.bkDown.hours > 0"><b>BK</b>: <b class="alternate">{{player.bkDown.days}}</b>d <b class="alternate">{{player.bkDown.hours}}</b>h</span>
                                                <span ng-if="player.aqDown.days > 0 || player.aqDown.hours > 0"><b>AQ</b>: <b class="alternate">{{player.aqDown.days}}</b>d <b class="alternate">{{player.aqDown.hours}}</b>h</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /team bases -->

                    <!-- opponent bases -->
                    <div class="row warstart-container margin-bottom-huge" ng-if="war._id" access-level="coleader">
                        <div class="col-sm-12">
                            <div class="widget">
                                <div class="widget-header">Opponent bases and assignmets (changes are auto-saved)</div>
                                <div class="widget-body war-table">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="well well-sm">
                                            <p>As with the roster, you aren't required to fill in town hall levels but it's <b>highly recommended</b></p>
                                            <p>Once the war starts you will only be able to change TH level - assignments will be done through the <a href="/war/{{war._id}}">normal war interface</a>.</p>
                                            <p>Note that when you change TH level the change will cascade down to the rest of the bases. For example, if you set base 1 to TH10, all bases below will be set to TH10. This design makes it easier to complete TH levels without having to pick every single base. Because of this, <b>you should start at the TOP of the list</b> and work your way down. To disable this feature, un-check the Cascade option below.</p>
                                                <div class="row">
                                                    <div class="col-xs-6 ws-cascade">
                                                        <form name="cascadeForm">
                                                        <input type="checkbox" class="ws-cascade-cb" ng-model="cascade" ng-click="wtf()"> <span class="ws-cascade-label">Cascade TH changes</span>
                                                        </form>
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <a class="btn btn-xs btn-default" ng-disabled="warStarted" ng-click="assignMirrors()">Assign mirrors</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form name="opponentSettingsForm" class="form-horizontal" novalidate>
                                        <div class="row">
                                            <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs t-header text-center">Base</div>
                                            <div class="hidden-lg hidden-md hidden-sm col-xs-1 t-header text-center">#</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 t-header">Town hall</div>
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 t-header">Assign to</div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 t-header">Heroes Down</div>
                                        </div>
                                        <div class="row row-underline-2"></div>
                                        <div class="row" ng-repeat="base in war.bases">
                                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 t-row text-center">{{base.b}}</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                                <select class="form-control-small" ng-class="{'th-warning': base.t==1}" ng-model="base.t" ng-change="oppTH(base.b)" integer>
                                                    <option>10</option>
                                                    <option>9</option>
                                                    <option>8</option>
                                                    <option>7</option>
                                                    <option>6</option>
                                                    <option>5</option>
                                                    <option>4</option>
                                                    <option>3</option>
                                                    <option>2</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                               <select class="form-control-small" ng-model="base.a[0].u" ng-options="tm.u as tm.i for tm in war.team | filter: filterTeam" ng-change="assignBase($index, base.a[0].u)" ng-disabled="warStarted">
                                                </select>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icon-remove">
                                                <a href ng-click="deleteAssignment($index)" ng-if="base.a.length>0 && !warStarted"><i class="icon-cancel error-red" title="Remove assignment"></i></a>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 hero-down">
                                                <span ng-if="heroesUpgrading[$index].bkDown.days > 0 || heroesUpgrading[$index].bkDown.hours > 0"><b>BK</b>: <b class="alternate">{{heroesUpgrading[$index].bkDown.days}}</b>d <b class="alternate">{{heroesUpgrading[$index].bkDown.hours}}</b>h</span>
                                                <span ng-if="heroesUpgrading[$index].aqDown.days > 0 || heroesUpgrading[$index].aqDown.hours > 0"><b>AQ</b>: <b class="alternate">{{heroesUpgrading[$index].aqDown.days}}</b>d <b class="alternate">{{heroesUpgrading[$index].aqDown.hours}}</b>h</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /opponent bases -->
                </div>
            </div> <!-- /new war -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->