<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body">
                <div class="col-sm-12">
                    <div class="row margin-bottom-big">
                        <div class="col-xs-8">
                            <h1>Ban List</h1>
                            <h3 class="same-line-sub-heading alternate hidden-xs">{{meta.current_clan.name}}</h3>
                        </div>
                        <div class="col-xs-4 text-right">
                            <a class="btn btn-sm btn-default" ng-click="addBan()" access-level="coleader">Add player</a>
                        </div>
                    </div>                	
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
