<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- new war -->
            <div class="row content-body" ng-if="newWar">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-md-12 col-sm-6 hidden-xs">
                            <h1>Start a war</h1>
                            <h3 class="same-line-sub-heading alternate">{{meta.current_clan.name}}</h3>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget">
                                <div class="widget-header">War settings</div>
                                <div class="widget-body">
                                    <div class="row">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /new war -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->