<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body war-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-medium">
                            <h2 class="hidden-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h2>
                            <h3 class="visible-xs">{{meta.current_clan.name}} vs. {{war.opponent_name}}</h3>
                        </div>
                        <div class="col-sm-6 col-xs-12 war-countdown">
                            <div class="wc-inner">
                                <span ng-if="warStarted">Ends</span><span ng-if="!warStarted">Starts</span> in
                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}<span class="hidden-xs">, <b>{{seconds}}</b> second{{secondsS}}</span></h3>
                                </timer>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12 war-summary-container">
                            <div class="widget">
                                <div class="widget-body war-table">
                                    <div class="row t-row">
                                        <div class="col-sm-1 col-xs-2 t-header text-center">Base</div>
                                        <div class="col-sm-1 hidden-xs t-header">TH</div>
                                        <div class="col-sm-1 col-xs-2 t-header">Best</div>
                                        <div class="col-sm-9 col-xs-8 t-header">Assignments</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                    <div ng-repeat="base in war.bases">
                                        <div class="row t-row">
                                            <div class="col-sm-1 col-xs-2 text-center base-num">
                                                <h2 ng-if="base.isOpen" class="primary-dark"><strong>{{base.b}}</strong></h2>
                                                <h2 ng-if="!base.isOpen" class="primary-30"><strong>{{base.b}}</strong></h2>
                                                <br/>
                                                <span class="dropdown" on-toggle="toggled(open)" ng-if="base.isOpen && ((meta.role=='leader' || meta.role=='coleader') || (a.u==meta._id))">
                                                    <a href class="dropdown-toggle">
                                                        <img src="/img/icons/swords-on.png">
                                                    </a>
                                                    <ul class="dropdown-menu" ng-if="warStarted">
                                                        <p class="dropdown-header">Assign base to</p>
                                                        <li ng-repeat="tm in war.team" ng-if="tm.i"><a href ng-click="assignBase(base.b, tm.u, tm.i)">{{tm.i}}</a></li>
                                                    </ul>
                                                </span>


                                                <img src="/img/icons/swords-off.png" ng-if="!base.isOpen">
                                            </div>
                                            <div class="col-sm-1 hidden-xs th-icon"><img src="/img/icons/th-{{base.t}}.png"></div>
                                            <div class="col-sm-1 col-xs-2 best-icon">
                                                <img src="/img/icons/stars-tiny.png" ng-if="base.maxStars==null">
                                                <img src="/img/icons/stars-tiny-0.png" ng-if="base.maxStars==0">
                                                <img src="/img/icons/stars-tiny-1.png" ng-if="base.maxStars==1">
                                                <img src="/img/icons/stars-tiny-2.png" ng-if="base.maxStars==2">
                                                <img src="/img/icons/stars-tiny-3.png" ng-if="base.maxStars==3">
                                            </div>
                                            <div class="col-sm-9 col-xs-8">
                                                <div ng-repeat="a in base.a">
                                                    <div class="assignment-widget">
                                                        <div class="aw-name text-center">
                                                        {{a.i}}
                                                        </div>
                                                        <div class="aw-stars text-center">
                                                            <span ng-if="(meta.role=='member' || meta.role=='elder') && (a.u!=meta._id)">
                                                                <img src="/img/icons/stars-tiny.png" ng-if="a.s==null">
                                                                <img src="/img/icons/stars-tiny-0.png" ng-if="a.s==0">
                                                                <img src="/img/icons/stars-tiny-1.png" ng-if="a.s==1">
                                                                <img src="/img/icons/stars-tiny-2.png" ng-if="a.s==2">
                                                                <img src="/img/icons/stars-tiny-3.png" ng-if="a.s==3">
                                                            </span>
                                                            <span class="dropdown" on-toggle="toggled(open)" ng-if="(meta.role=='leader' || meta.role=='coleader') || (a.u==meta._id)">
                                                                <a href class="dropdown-toggle">
                                                                    <img src="/img/icons/stars-tiny.png" ng-if="a.s==null">
                                                                    <img src="/img/icons/stars-tiny-0.png" ng-if="a.s==0">
                                                                    <img src="/img/icons/stars-tiny-1.png" ng-if="a.s==1">
                                                                    <img src="/img/icons/stars-tiny-2.png" ng-if="a.s==2">
                                                                    <img src="/img/icons/stars-tiny-3.png" ng-if="a.s==3">
                                                                </a>
                                                                <ul class="dropdown-menu" ng-if="warStarted">
                                                                    <li><a href ng-click="changeStars($index, base.b, a.i, 0)"><img src="/img/icons/stars-0.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, base.b, a.i, 1)"><img src="/img/icons/stars-1.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, base.b, a.i, 2)"><img src="/img/icons/stars-2.png"></a></li>
                                                                    <li><a href ng-click="changeStars($index, base.b, a.i, 3)"><img src="/img/icons/stars-3.png"></a></li>
                                                                    <li><a href ng-click="deleteCall($index, base.b, a.u, a.i)"><img src="/img/icons/delete-call.png"></a></li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s==null && a.expires > 0">
                                                            <b>{{a.hours}}h {{a.minutes}}m</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s==null && a.expires < 0">
                                                            <b class="error-red">expired!</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s!=null">
                                                            <b>done</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.expires==0 && a.s==null">
                                                            <b>free for all</b>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row row-underline-1" ng-if="$index<war.player_count-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
