<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body">
                <div class="col-sm-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12">
                            <h1>{{meta.ign}}</h1>
                            <h3 class="same-line-sub-heading alternate" ng-if="clan.name">{{meta.current_clan.name}}</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12 war-summary-container">
                            <div class="widget">
                                <div class="widget-header">War status</div>
                                <div class="widget-body">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
