<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body war-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-medium">
                            <h2 class="hidden-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h2>
                            <h3 class="visible-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h3>
                        </div>
                        <div class="col-sm-6 col-xs-12 margin-bottom-medium war-countdown">
                            <div class="wc-inner" ng-show="!warEnded">
                                <span ng-if="warStarted">Ends</span><span ng-if="!warStarted">Starts</span> in
                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}<span class="hidden-xs">, <b>{{seconds}}</b> second{{secondsS}}</span></h3>
                                </timer>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-medium">
                        <div class="col-xs-12">
                            <a href="/war/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/swords-icon.png"> Bases</a>
                            <a href="/war/team/{{war._id}}" class="btn btn-default btn-sm"><img src="/img/icons/team-icon.png"> Team</a>
                            <a href="/war/summary/{{war._id}}" class="btn btn-primary btn-sm"><img src="/img/icons/trophy-icon.png"> Leaders</a>
                            <a href="" class="btn btn-danger btn-sm pull-right" access-level="leader" ng-click="deleteWar()">Delete</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-12 margin-bottom-huge star-summary-container">
                            <div class="widget">
                                <div class="widget-header">
                                    Star Summary
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <b>Total stars</b>
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            <strong>{{summaryStats.totalStars}}</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-3.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.3}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-2.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.2}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-1.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.1}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-0.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.0}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12 top-attackers-container">
                            <div class="widget">
                                <div class="widget-header">
                                    Top Attackers <i class="icon-help-circled pull-right" popover-placement="left" popover="Total score is Attack Value for both attacks. This is a calculation based on number of stars, distance the target was from mirror, and TH level of target. The AV range is 0 - 150 per attack. This list shows the top attackers by combined AV for both attacks in this war." popover-append-to-body="true" popover-trigger="mouseenter"></i>
                                </div>
                                <div class="widget-body">
                                    <div ng-repeat="av in totAttackValue | limitTo:5">
                                    <div class="row ta-row">
                                        <div class="col-md-1 col-sm-3 col-xs-3 ta-col-rank">
                                            <span class="rank-icon rank-icon-{{$index + 1}}"></span>
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-6 ta-col">
                                        <img src="https://s3.amazonaws.com/clashtools/avatar/{{av.avatar}}" class="ta-avatar" width="32" height="32"> {{av.i}}
                                        </div>
                                        <div class="col-md-6 hidden-sm hidden-xs ta-star-container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                <span class="ta-stars" ng-if="av.a.length > 0">
                                                    <img src="/img/icons/stars-tiny-{{av.a[0].s}}.png">
                                                    <span class="ta-sc-text"><b>Base:</b> {{av.a[0].or}}</span>
                                                    <span class="ta-sc-text"><b>AV:</b> {{av.a[0].v}}</span>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                <span class="ta-stars" ng-if="av.a.length > 1"><img src="/img/icons/stars-tiny-{{av.a[1].s}}.png"></span>
                                                <span class="ta-sc-text" ng-if="av.a.length > 1"><b>Base:</b> {{av.a[1].or}}</span>
                                                <span class="ta-sc-text" ng-if="av.a.length > 1"><b>AV:</b> {{av.a[1].v}}</span>
                                                <span class="ta-stars" ng-if="av.a.length == 1"><img src="/img/icons/stars-tiny.png"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-3 col-xs-3 ta-col text-center aav-score">
                                            <div class="aav-score-value">{{av.totV}}</div>
                                        </div>
                                    </div>
                                    <div class="row row-underline-1" ng-if="$index<4"></div>
                                    </div>
                                    <div ng-if="myIndex > 4">
                                        <div class="row row-underline-1"></div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center ta-your-rank">
                                                <b>Your rank</b>
                                            </div>
                                        </div>
                                        <div class="row row-underline-1"></div>
                                        <div class="row ta-row">
                                            <div class="col-md-1 col-sm-3 col-xs-3 ta-col-rank">
                                                <span class="rank-icon rank-icon-{{myIndex + 1}}"></span>
                                            </div>
                                            <div class="col-md-4 col-sm-5 col-xs-6 ta-col">
                                            <img src="https://s3.amazonaws.com/clashtools/avatar/{{myRank.avatar}}" class="ta-avatar" width="32" height="32"> {{myRank.i}}
                                            </div>
                                            <div class="col-md-6 hidden-sm hidden-xs ta-star-container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <span class="ta-stars" ng-if="myRank.a.length > 0">
                                                        <img src="/img/icons/stars-tiny-{{myRank.a[0].s}}.png">
                                                        <span class="ta-sc-text"><b>Base:</b> {{myRank.a[0].or}}</span>
                                                        <span class="ta-sc-text"><b>AV:</b> {{myRank.a[0].v}}</span>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <span class="ta-stars" ng-if="myRank.a.length > 1"><img src="/img/icons/stars-tiny-{{myRank.a[1].s}}.png"></span>
                                                    <span class="ta-sc-text" ng-if="myRank.a.length > 1"><b>Base:</b> {{myRank.a[1].or}}</span>
                                                    <span class="ta-sc-text" ng-if="myRank.a.length > 1"><b>AV:</b> {{myRank.a[1].v}}</span>
                                                    <span class="ta-stars" ng-if="myRank.a.length == 1"><img src="/img/icons/stars-tiny.png"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-3 col-xs-3 ta-col text-center aav-score">
                                                <div class="aav-score-value">{{myRank.totV}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 margin-bottom-huge">
                            <div class="widget">
                                <div class="widget-header">
                                    Result
                                </div>
                                <div class="widget-body">
                                    <div class="row margin-bottom-big">
                                        <div class="col-xs-12 text-center">
                                            <h2 ng-if="war.result.result==0" ng-class="{'good-green': war.result.result==1, 'error-red': war.result.result==0, 'neutral-yellow': war.result.result==2}">Loss</h2>
                                            <h2 ng-if="war.result.result==1" ng-class="{'good-green': war.result.result==1, 'error-red': war.result.result==0, 'neutral-yellow': war.result.result==2}">Win</h2>
                                            <h2 ng-if="war.result.result==2" ng-class="{'good-green': war.result.result==1, 'error-red': war.result.result==0, 'neutral-yellow': war.result.result==2}">Tie</h2>                                   
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <strong>Team</strong>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <strong>Stars</strong>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <strong>% Dest</strong>
                                        </div>                                                                                
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{clan.name}}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {{war.result.stars}}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {{war.result.ourDestruction}}
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{war.opponent_name}}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {{war.result.opponentStars}}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {{war.result.enemyDestruction || 'n/a'}}
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
