<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body members-container margin-bottom-huge">
                <div class="col-sm-12">
                    <div class="row margin-bottom-huge">
                        <div class="col-sm-12">
                            <h1>War History</h1>
                            <h3 class="same-line-sub-heading alternate">{{clan.name}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-header">
                                    Total wars: {{wars.length}} <span class="pull-right">{{wins}}-{{losses}}-{{ties}}</span>
                                </div>
                                <div class="widget-body members-table">
                                    <div class="row t-row">
                                        <div class="col-sm-3 col-xs-5 t-header">Opponent</div>
                                        <div class="col-sm-3 hidden-xs t-header">Ended</div>
                                        <div class="col-sm-2 col-xs-2 t-header">Count</div>
                                        <div class="col-sm-2 col-xs-3 t-header">Score</div>
                                        <div class="col-sm-2 col-xs-2 t-header">W/L</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                        <div ng-repeat="war in wars">
                                            <div class="row t-row wh-row" ng-class="{'good-green': war.result==1, 'error-red': war.result==0, 'neutral-yellow': war.result==2}" ng-click="warDetail(war._id)">
                                                <div class="col-sm-3 col-xs-5">{{war.opponent_name}}</div>
                                                <div class="col-sm-3 hidden-xs"><span am-time-ago="{{war.ended}}"></span></div>
                                                <div class="col-sm-2 col-xs-2">{{war.player_count}}v{{war.player_count}}</div>
                                                <div class="col-sm-2 col-xs-3">{{war.stars}} - {{war.opponent_stars}}</div>
                                                <div class="col-sm-2 col-xs-2" ng-if="war.result==0">Loss</div>
                                                <div class="col-sm-2 col-xs-2" ng-if="war.result==1">Win</div>
                                                <div class="col-sm-2 col-xs-2" ng-if="war.result==2">Tie</div>
                                            </div>
                                            <div class="row row-underline-1" ng-if="$index<wars.length-1"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
