<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body war-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-medium">
                            <h2 class="hidden-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h2>
                            <h3 class="visible-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h3>
                        </div>
                        <div class="col-sm-6 col-xs-12 war-countdown">
                            <div class="wc-inner" ng-show="!warEnded">
                                <span ng-if="warStarted">Ends</span><span ng-if="!warStarted">Starts</span> in
                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}<span class="hidden-xs">, <b>{{seconds}}</b> second{{secondsS}}</span></h3>
                                </timer>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-medium">
                        <div class="col-xs-12">
                            <ul class="war-sub-nav">
                                <li><a href="/war/{{war._id}}">Bases</a></li>
                                <li><a href="/war/team/{{war._id}}">Team</a></li>
                                <li class="active"><a href="/war/summary/{{war._id}}">Summary</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-md-4 col-sm-5 col-xs-6 star-summary-container">
                            <div class="widget">
                                <div class="widget-header">
                                    Star Summary
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            Total stars
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            <strong>{{summaryStats.totalStars}}</strong>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-tiny-3.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.3}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-tiny-2.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.2}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-tiny-1.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.1}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="/img/icons/stars-tiny-0.png">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {{summaryStats.0}}
                                        </div>
                                    </div>                                             
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
