<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body war-container">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 margin-bottom-medium">
                            <h2 class="hidden-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h2>
                            <h3 class="visible-xs">{{meta.current_clan.name}} vs. <b>{{war.opponent_name}}</b></h3>
                        </div>
                        <div class="col-sm-6 col-xs-12 war-countdown">
                            <div class="wc-inner" ng-show="!warEnded">
                                <span ng-if="warStarted">Ends</span><span ng-if="!warStarted">Starts</span> in
                                <timer interval="1000" autostart="false" language="en" ng-attr-end-time="warStartTime">
                                <b>{{hours}}</b> hour{{hoursS}}, <b>{{minutes}}</b> minute{{minutesS}}<span class="hidden-xs">, <b>{{seconds}}</b> second{{secondsS}}</span></h3>
                                </timer>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-medium">
                        <div class="col-xs-12">
                            <ul class="war-sub-nav">
                                <li><a href="/war/{{war._id}}">Bases</a></li>
                                <li class="active"><a href="/war/team/{{war._id}}">Team</a></li>
                                <li><a href="/war/summary/{{war._id}}">Summary</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row margin-bottom-huge">
                        <div class="col-xs-12">
                            <div class="widget">
                                <div class="widget-body war-table">
                                    <div class="row t-row">
                                        <div class="col-sm-1 col-xs-2 t-header text-center">Base</div>
                                        <div class="col-sm-2 col-xs-3 t-header">Member</div>
                                        <div class="col-sm-1 hidden-xs t-header">TH</div>
                                        <div class="col-sm-8 col-xs-7 t-header">Assignments</div>
                                    </div>
                                    <div class="row row-underline-2"></div>
                                    <div ng-repeat="member in basesByPlayer">
                                        <div class="row t-row">
                                            <div class="col-sm-1 col-xs-2 text-center base-num-team">
                                                <h2 class="primary-dark"><strong>{{member.b}}</strong></h2>
                                            </div>
                                            <div class="col-sm-2 col-xs-3 member-name-team">
                                                {{member.i}}
                                            </div>
                                            <div class="col-sm-1 hidden-xs th-icon"><img src="/img/icons/th-{{member.t}}.png"></div>
                                            <div class="col-sm-8 col-xs-7">
                                                <div ng-repeat="a in member.a">
                                                    <div class="assignment-widget">
                                                        <div class="aw-num text-center">
                                                        #{{a.b}}
                                                        </div>
                                                        <div class="aw-stars text-center">
                                                            <span ng-if="((meta.role=='member' || meta.role=='elder') && (a.u!=meta._id)) || !activeWar">
                                                                <img src="/img/icons/stars-tiny.png" ng-if="a.s==null">
                                                                <img src="/img/icons/stars-tiny-0.png" ng-if="a.s==0">
                                                                <img src="/img/icons/stars-tiny-1.png" ng-if="a.s==1">
                                                                <img src="/img/icons/stars-tiny-2.png" ng-if="a.s==2">
                                                                <img src="/img/icons/stars-tiny-3.png" ng-if="a.s==3">
                                                            </span>
                                                            <span class="dropdown" on-toggle="toggled(open)" ng-if="((meta.role=='leader' || meta.role=='coleader') || (a.u==meta._id)) && activeWar">
                                                                <a href class="dropdown-toggle">
                                                                    <img src="/img/icons/stars-tiny.png" ng-if="a.s==null">
                                                                    <img src="/img/icons/stars-tiny-0.png" ng-if="a.s==0">
                                                                    <img src="/img/icons/stars-tiny-1.png" ng-if="a.s==1">
                                                                    <img src="/img/icons/stars-tiny-2.png" ng-if="a.s==2">
                                                                    <img src="/img/icons/stars-tiny-3.png" ng-if="a.s==3">
                                                                </a>
                                                                <ul class="dropdown-menu" ng-if="warStarted">
                                                                    <li><a href ng-click="changeStars(a.ai, a.b, a.u, a.i, 0)"><img src="/img/icons/stars-0.png"></a></li>
                                                                    <li><a href ng-click="changeStars(a.ai, a.b, a.u, a.i, 1)"><img src="/img/icons/stars-1.png"></a></li>
                                                                    <li><a href ng-click="changeStars(a.ai, a.b, a.u, a.i, 2)"><img src="/img/icons/stars-2.png"></a></li>
                                                                    <li><a href ng-click="changeStars(a.ai, a.b, a.u, a.i, 3)"><img src="/img/icons/stars-3.png"></a></li>
                                                                    <li><a href ng-click="deleteCall(a.ai, a.b, a.u, a.i)"><img src="/img/icons/delete-call.png"></a></li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s==null && a.expires > 0">
                                                            <b>{{a.hours}}h {{a.minutes}}m</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s==null && a.expires < 0">
                                                            <b class="error-red">expired!</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.s!=null">
                                                            <b>done</b>
                                                        </div>
                                                        <div class="aw-expire text-center" ng-if="a.expires==0 && a.s==null">
                                                            <b>free for all</b>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row row-underline-1" ng-if="$index<war.player_count-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
