<div top-nav></div>

<div class="body-container">
    <div class="container">
        <div class="row margin-bottom-big">
            <div class="col-sm-12">
                <h4>Add a new <span class="capitalize">{{partner}}</span> workflow</h4>
            </div>
        </div>
        <form name="workflowForm">
        <div class="row workflow-page-container">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="widget-body">
                        <!-- step 1 -->
                        <div class="row workflow-container">
                            <div class="col-sm-12">
                                <div class="row wc-header">
                                    <div class="col-sm-12">
                                        <img src="/img/step_01.png"> Choose a trigger reply type
                                    </div>
                                </div>
                                <div class="row step-detail">
                                    <div class="col-sm-8">
                                        <p>When Siftrock processes an email of this type:</p>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-inverse half dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i>{{types[workflow.trigger.type].displayCaps}}</button>
                                            <ul class="dropdown-menu half">
                                                <li ng-repeat="type in types"><a href ng-click="changeType(type.type)">{{type.displayCaps}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 help-text">
                                        <p>All workflows in Siftrock begin with the type of email being processed. Only emails of this type will trigger this specific set of actions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end step 1 -->
                        <div class="row workflow-step-divider" ng-show="workflowState.stepOne"> </div>
                        <!-- step 2 -->
                        <div class="row workflow-container" ng-show="workflowState.stepOne">
                            <div class="col-sm-12">
                                <div class="row wc-header">
                                    <div class="col-sm-12">
                                        <img src="/img/step_02.png"> Choose source data from the reply
                                    </div>
                                </div>
                                <div class="row step-detail">
                                    <div class="col-sm-8">
                                        <p>Take data from:</p>
                                        <label class="radio-inline">
                                            <input type="radio" name="action" id="action1" ng-model="workflow.trigger.data" value="recipient" ng-change="changeTypeField()">The original recipient
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="action" id="action2" ng-model="workflow.trigger.data" value="contacts" ng-change="changeTypeField()">New contact records
                                        </label>
                                    </div>
                                    <div class="col-sm-4 help-text">
                                        <p>Choose whether this workflow will act on the original recipient of your email or the newly discovered contacts in the email body.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end step 2 -->
                        <div class="row workflow-step-divider" ng-show="workflowState.stepTwo"> </div>
                        <!-- step 3 -->
                        <div class="row workflow-container" ng-show="workflowState.stepTwo">
                            <div class="col-sm-12">
                                <div class="row wc-header">
                                    <div class="col-sm-12">
                                        <img src="/img/step_03.png"> Select the action to take in <span class="capitalize">{{partner}}</span>
                                    </div>
                                </div>
                                <div class="row step-detail">
                                    <div class="col-sm-8">
                                        <div class="row margin-bottom-huge">
                                            <div class="col-sm-12">
                                                <p>Do this with the <strong>{{workflowState.sourceData}}</strong>:</p>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-inverse half dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i>{{workflow.action.description}}</button>
                                                    <ul class="dropdown-menu half">
                                                        <li ng-repeat="group in actionGroups">
                                                            <p class="dropdown-header">{{group.groupName}}</p>
                                                            <p ng-repeat="action in group.actions"><a href ng-click="changeAction(action)">{{action.description}}</a></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-huge" ng-if="workflowState.addToList">
                                            <div class="col-sm-12">
                                                <p>Add to this list</p>
                                                <input type="text" ng-model="workflow.action.meta.list.name" typeahead="list as list.name for list in lists | filter:{name:$viewValue}" typeahead-editable="false" typeahead-focus-first="true" class="form-control form-control-inline half" typeahead-on-select="changeList($item)" required>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="workflowState.updateFields">
                                            <div class="col-sm-12">
                                                <p>Update these fields:</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row" ng-show="workflow.action.meta.fields.length > 0">
                                                    <div class="col-sm-5">
                                                        <p>Field (<span class="capitalize">{{partner}}</span>)</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p>Value (Siftrock)</p>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-big" ng-repeat="workflowField in workflow.action.meta.fields">
                                                    <div class="col-sm-5">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-inverse full dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i>{{workflowField.description}}</button>
                                                            <ul class="dropdown-menu full">
                                                                <li ng-repeat="field in fields | filter : { visible: true}"><a href ng-click="changeField($parent.$index, field)">{{field.description}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" ng-if="workflowField.type=='boolean'">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-inverse full dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i>{{workflowField.value}}</button>
                                                            <ul class="dropdown-menu full">
                                                                <li><a href ng-click="changeFieldValue($parent.$index, 'true')">true</a></li>
                                                                <li><a href ng-click="changeFieldValue($parent.$index, 'false')">false</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" ng-if="workflowField.type=='string'">
                                                        <div class="input-group" dropdown>
                                                            <input type="text" class="form-control form-control-inline" ng-model="workflowField.value" ng-change="changeFieldValue($index, workflowField.value)">
                                                            <span class="btn btn-inverse btn-sm dropdown-toggle input-group-addon" data-toggle="dropdown"><i class="icon-angle-down"></i></span>
                                                            <ul class="dropdown-menu full">
                                                                <li ng-repeat="srField in siftrockFields"><a href ng-click="changeFieldValue($parent.$index, srField.fieldName)">{{srField.fieldName}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" ng-if="!workflowField.id">
                                                        <input class="form-control form-control-inline" placeholder="Select field" disabled>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a href ng-click="removeField($index)"><i class="icon-minus-squared icon-huge"></i></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href ng-click="addField()">
                                                            <a href class="btn btn-primary btn-sm" ng-click="addField()">Add field</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 help-text">
                                        <p>This step defines the data Siftrock will update in <span class="capitalize">{{partner}}</span> on your behalf.</p>
                                        <p>First, decide if you'd like to add contacts to a list, update lead fields, or both. Then select the source and destination data.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end step 3 -->
                        <div class="row workflow-step-divider" ng-show="workflowState.stepThree"> </div>
                        <!-- step 4 -->
                        <div class="row workflow-container" ng-show="workflowState.stepThree">
                            <div class="col-sm-12">
                                <div class="row wc-header">
                                    <div class="col-sm-12">
                                        <img src="/img/step_04.png"> Optional - inclusion filters
                                    </div>
                                </div>
                                <div class="row step-detail">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row" ng-show="workflow.action.meta.filters.length > 0">
                                                    <div class="col-sm-5">
                                                        <p>When this field</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p>Includes</p>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-big" ng-repeat="workflowFilter in workflow.action.meta.filters">
                                                    <div class="col-sm-5">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-inverse full dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down"></i>{{workflowFilter.name}}</button>
                                                            <ul class="dropdown-menu full">
                                                                <li ng-repeat="field in siftrockFields | filter : { filter: true}"><a href ng-click="changeFilterField($parent.$index, field)">{{field.fieldName}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" ng-if="workflowFilter.name">
                                                        <input type="text" class="form-control form-control-inline" ng-model="workflowFilter.value" ng-change="changeFilterValue($index, workflowFilter.value)">
                                                    </div>
                                                    <div class="col-sm-6" ng-if="!workflowFilter.name">
                                                        <input class="form-control form-control-inline" placeholder="Select field" disabled>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a href ng-click="removeFilter($index)"><i class="icon-minus-squared icon-huge"></i></a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href class="btn btn-primary btn-sm" ng-click="addFilter()">Add filter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 help-text">
                                        <p>This step is optional. If you create a filter here, Siftrock will only send data in this workflow that meets at least one of these criteria.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end step 4 -->
                        <div class="row workflow-step-divider" ng-show="workflowState.stepThree"> </div>
                        <div class="row workflow-container" ng-show="workflowState.stepThree">
                            <div class="col-sm-12">
                                <button class="btn btn-alternate" ng-disabled="!workflowState.validWorkflow || workflowForm.$invalid" ng-click="saveWorkflow()">Save Workflow</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- widget -->
            </div>
        </div> <!-- workflow-page-container -->
        </form>
    </div>
</div>
<div footer></div>
