<div id="wrapper">
    <div sidebar></div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div top-nav></div>
            <!-- page content -->
            <div class="row content-body">
                <div class="col-xs-12">
                    <div class="row margin-bottom-huge clan-search">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <h1>Admin</h1>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6 search-box">
                            <div class="form-control-group">
                                <input class="form-control" type="text" placeholder="Search for a clan by name or tag" ng-model="localSearchTerms" ng-change="searchLocal()">
                                <button class="btn btn-search" ng-click="searchLocal()"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget">
                                <div class="widget-header">Clans registered with clash.tools ({{clans.length}})</div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 t-header">Clan name</div>
                                        <div class="col-sm-2 col-xs-4 t-header">Clan tag</div>
                                        <div class="col-sm-2 hidden-xs t-header">Leader</div>
                                        <div class="col-sm-2 col-xs-2 t-header text-center">Members</div>
                                    </div>
                                    <div class="row row-underline-1"></div>
                                    <div ng-repeat="c in clans">
                                        <div class="row t-row">
                                            <div class="col-sm-4 col-xs-4"><a href="/admin/clan/{{c._id}}">{{c.name}}</a></div>
                                            <div class="col-sm-2 col-xs-4">{{c.clan_tag}}</div>
                                            <div class="col-sm-2 hidden-xs">{{c.metrics.leader}}</div>
                                            <div class="col-sm-2 col-xs-2 text-center">{{c.metrics.totalMembers}}</div>
                                            <div class="col-sm-2 text-right"><button class="btn btn-alternate btn-xs" ng-click="spoofLeader(c)">View</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /page content -->
        </div>
    </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->