<div top-nav></div>
<div class="body-container" ng-hide="nullState">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row bottom-border-light margin-bottom-huge">
                <div class="col-sm-12">
                    <ul class="tab-nav">
                        <li ng-class="{active: activeTab=='accounts'}"><a href="" ng-click="activeTab='accounts'">Accounts</a></li>
                        <li ng-class="{active: activeTab=='nlpconfig'}"><a href="" ng-click="activeTab='nlpconfig'">NLP Config</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ACCOUNTS TAB -->
    <div class="row" ng-show="activeTab=='accounts'">
        <div class="col-sm-12">
            <div class="widget">
                <!-- <div class="widget-header">Incoming reply stream</div> -->
                <div class="widget-body">
                    <div class="row stream-header">
                        <div class="col-sm-2">
                            Account
                        </div>
                        <div class="col-sm-2">
                            Created
                        </div>
                        <div class="col-sm-1">
                            SKU
                        </div>
                        <div class="col-sm-1 text-right">
                            Users
                        </div>
                        <div class="col-sm-1 text-right">
                            Emails
                        </div>
                        <div class="col-sm-3">
                            Reply Domain
                        </div>
                        <div class="col-sm-1">
                            MX
                        </div>
                    </div>
                    <div class="row row-underline-1"></div>
                    <div ng-repeat="account in accounts">
                        <div class="row stream-item">
                            <div class="col-sm-2">
                                {{account.name}}
                            </div>
                            <div class="col-sm-2">
                                {{account.created_at | date:'yyyy-MM-dd'}}
                            </div>
                            <div class="col-sm-1">
                                {{account.sku}}
                            </div>
                            <div class="col-sm-1 text-right">
                                {{account.user_count | number:0}}
                            </div>
                            <div class="col-sm-1 text-right">
                                {{account.mail_count | number:0}}
                            </div>
                            <div class="col-sm-3">
                                {{account.reply_domain}}
                            </div>
                            <div class="col-sm-1">
                                {{account.mx_verified}}
                            </div>
                            <div class="col-sm-1 text-center">
                                <a href ng-click="spoofAccount(account.first_admin)" title="Spoof" ng-show="accountId != account._id"><i class="icon-zoom-in"></i></a>
                                <i class="icon-zoom-in icon-standard primary-40" ng-show="accountId==account._id"></i>
                            </div>
                        </div>
                        <div class="row row-underline-1"></div>
                    </div>
                </div>
            </div> <!-- widget -->
        </div>
    </div>

    <!-- NLP CONFIG TAB -->
    <div class="row" ng-show="activeTab=='nlpconfig'">
        <div class="col-sm-12">
            <div class="widget margin-bottom-huge">
                <div class="widget-header">Response classification</div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="tab-subnav">
                                <li ng-repeat="(type, value) in nlpConfig.messageType" ng-class="{active: activeSubTab==type}">
                                    <a href ng-click="activateTab(type)">{{type}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">Term</div>
                        <div class="col-sm-2 text-center">Weight</div>
                        <div class="col-sm-3 text-right">Added</div>
                    </div>
                    <div class="row row-underline-1"></div>
                    <div ng-repeat="(type, value) in nlpConfig.messageType" ng-show="activeSubTab==type">
                        <div ng-repeat="val in value">
                            <div class="row stream-item">
                                <div class="col-sm-6">
                                    {{val.term}}
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span class="badge badge-weight-{{val.weight}}">{{val.weight}}</span>
                                </div>
                                <div class="col-sm-3 text-right">
                                    {{val.added | date:'yyyy-MM-dd'}}
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a href ng-click="removeTypeTerm(type, val.term)" title="Remove"><i class="icon-cancel error-red"></i></a>
                                </div>
                            </div>
                            <div class="row row-underline-1"></div>
                        </div>
                        <form name="{{type}}" ng-submit="addTypeTerm(type)">
                        <div class="row stream-item">
                            <div class="col-sm-6">
                                <input class="form-control-small" ng-model="newTypes[type].newTerm" required />
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control-small" ng-model="newTypes[type].newWeight" integer required />
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-xs" ng-disabled="{{type}}.$invalid">Add Value</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div> <!-- widget -->

            <div class="widget margin-bottom-huge">
                <div class="widget-header">Subject Cruft <span class="small">(to be removed from subjects)</span></div>
                <div class="widget-body">
                    <div class="row stream-header">
                        <div class="col-sm-11">
                            Value
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>
                    <div class="row row-underline-1"></div>
                    <div ng-repeat="cruft in nlpConfig.subjectCruft">
                        <div class="row stream-item">
                            <div class="col-sm-11">
                                {{cruft}}
                            </div>
                            <div class="col-sm-1 text-center">
                                <a href ng-click="removeSubjectCruft(cruft)" title="Remove"><i class="icon-cancel error-red"></i></a>

                            </div>
                        </div>
                        <div class="row row-underline-1"></div>
                    </div>
                    <form name="newSubjectCruft" ng-submit="addSubjectCruft()">
                    <div class="row stream-item">
                        <div class="col-sm-3">
                            <input class="form-control-small" ng-model="newSubjectCruftVal" required>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-xs" ng-disabled="newSubjectCruft.$invalid">Add Value</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div> <!-- widget -->

            <div class="widget">
                <div class="widget-header">Footer Cruft <span class="small">(to be removed from email text for NLP)</span></div>
                <div class="widget-body">
                    <div class="row stream-header">
                        <div class="col-sm-11">
                            Value
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>
                    <div class="row row-underline-1"></div>
                    <div ng-repeat="cruft in nlpConfig.footerCruft">
                        <div class="row stream-item">
                            <div class="col-sm-11">
                                {{cruft}}
                            </div>
                            <div class="col-sm-1 text-center">
                                <a href ng-click="removeFooterCruft(cruft)" title="Remove"><i class="icon-cancel error-red"></i></a>

                            </div>
                        </div>
                        <div class="row row-underline-1"></div>
                    </div>
                    <form name="newFooterCruft" ng-submit="addFooterCruft()">
                    <div class="row stream-item">
                        <div class="col-sm-3">
                            <input class="form-control-small" ng-model="newFooterCruftVal" required>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-xs" ng-disabled="newFooterCruft.$invalid">Add Value</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div> <!-- widget -->

            <div class="widget">
                <div class="widget-header">Phone number regex list</div>
                <div class="widget-body">
                    <div class="row stream-header">
                        <div class="col-sm-1">
                            Country
                        </div>
                        <div class="col-sm-10">
                            Value
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>
                    <div class="row row-underline-1"></div>
                    <div ng-repeat="record in nlpConfig.phoneNumberRegex">
                        <div class="row stream-item">
                            <div class="col-sm-1">
                                {{record.country}}
                            </div>
                            <div class="col-sm-10">
                                {{record.regex}}
                            </div>
                            <div class="col-sm-1 text-center">
                                <a href ng-click="removePhoneRegex(record.country)" title="Remove"><i class="icon-cancel error-red"></i></a>

                            </div>
                        </div>
                        <div class="row row-underline-1"></div>
                    </div>
                    <form name="newPhoneRegex" ng-submit="addPhoneRegex()">
                    <div class="row stream-item">
                        <div class="col-sm-1">
                            <input class="form-control-small" ng-model="newPhoneRegexCountry" required>
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control-small" ng-model="newPhoneRegexValue" required>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary btn-xs" ng-disabled="newPhoneRegex.$invalid">Add Value</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div> <!-- widget -->
        </div>
    </div>
</div>
</div>

<div footer></div>

